.dropdown-item {
  color: white !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #395066 !important;
}

.dropdown-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}



.dropdown-menu {
  margin-top: -7px !important;
  color: #ffffff;
  background-color: #2c3e50;
  border: none;
}

.dropdown-menu > li > a {
  color: white;
}

a:hover {
  color: black;
}

.dropdown-menu > li > a:hover {
  background-color: #395066 !important;
}

.dropdown-item {
  color: white !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #395066 !important;
}

.right-navigation-nav {
  display: flex;
  letter-spacing: 1px;
  flex-direction: row;
}

.right-navigation {
  display: flex;
  flex-basis: auto;
  align-items: center;
  flex-grow: 1;
}

.ml-auto {
  margin-left: auto !important;
}

@media screen and (max-width: 992px) {
  .dropdown-item {
    padding-left: 24px;
  }
}

