#buttons_left{
    font-size: medium;
    float:left;
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    user-select:none;
}

.diagonal-button {
  position: relative;
  display: flex;
  min-height: 30px; 
  max-height: 50px;
}

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1;
}
  
.subscript-content {
  position: absolute;
  bottom: 0;
  right: 10%;
  font-size: 0.8em; /* Adjust the font size as needed */
}

.mat-card {
  margin: 0;
}

.mat-card-content {
  font-size: 15px !important;
}