<div>
    <button class="diagonal-button" id="buttons_left" [ngStyle]="{'background-color' : color}" >
        <div [ngStyle]="{'width' : width}">
            <div class="center-content" >{{ center }}</div>
            <div *ngIf="wasSolved" class="subscript-content">{{ subscript }}</div>
        </div>
    </button> 
</div>