body {
  padding-top: 70px;
}

#mainNav {
  background: #2c3e50;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 102;
}

.bg-navbar-blue {
  background-color: #2c3e50 !important;
}

.navbar-brand {
  font-size: 1.5em;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand > span {
  padding: 0.7vw;
}

.cipher-name {
  color: white;
}
.cipher-type {
  color: #6a959d;
}

.btn-outline-secondary {
  margin: 0 1.5rem;
  color: white;
  border-color: white;
}

.btn-outline-secondary:hover,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: #801d15;
}

.main-navbar {
  display: flex;
  width: 100%;
  z-index: 102;
  padding: 0.5rem 1rem;
}

.cipher-navbar {
  padding: 1vh 0;
  z-index: 99;
  border-top: 3px solid white;
}

.navbar-sticky > p {
  text-align: left;
  display: inline-block;
}

.navbar-sticky {
  color: white;
  font-size: larger;
  background-color: #255e69;
  padding: 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 7.2vh;
  height: 8vh;
}

.hide-cipher-navbar {
  display: none;
}

.show-cipher-navbar {
  display: block;
  top: 8vh;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.static-top {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.right {
  display: inline-block;
  right: 18.3vw;
  position: absolute;
}

.center {
  text-align: center;
}

.navbar-toogle {
  z-index: 100;
  background-color: #2c3e50;
}

