<app-side-navbar [sideMenu]="sideMenu" class="d-block">
  <div class="container">
    <mat-card id="description" class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Word Patterns</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div class="  ">
          <i
            >The plaintext encrypted by a CAESAR addition, or with a reversed
            alphabet, or with a permutated alphabet has an invariant pattern of
            characteristic repetition</i
          >.
          <br />
          <br />
          Reference:
          <br />
          F.L.Bauer - Decrypted secrets, 4th edition. Springer.
          <br />
          <hr />
          The input text can be converted into a pattern using various methods.
          Theses patterns vary, and you should choose the corresponding method
          based on your needs.
          <br />
          We implemented 4 distinct algoritms to transform the <b>Text</b> in a
          <b>Pattern</b>.
          <i
            >You can try these pattern conversion methods
            <a href="/word-pattern-conversion">here</a>.</i
          >
        </div>
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card id="description2" class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title
          >Description of the Dictionary Attack - Pattern Search</mat-card-title
        >
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div class="  ">
          The implemented dictionary attack using word patterns can be used in a
          <b>manual</b> or in a <b>(semi) automated</b> mode.
          <br />
          <br />
          We are expecting input text encrypted with a simple substitution
          cipher. The text may contains letters or number, and a cipher text
          unit separator may be used. Without a separator char, the text is
          splitted char by char. If the input text is separated into words (by
          any custom word separator char), the dictionary attack is more
          effective and accurate.
          <br />
          <br />
          In the first step, the input text is processed, and displayed in a
          special table. Each input text unit in displayed in a special box.
          <br />
          <br />
          <b>Manual</b> attack: You can select multiple neighborign boxes, and
          obtain the possible words candidate list (based on the pattern of the
          selected sequence), whitch is calculated from the used dictionary. You
          can fill characters into the table based on the choosen word
          candidate. You can repeate this step several times.
          <br />
          <b>Semi-Automated</b> attack: After selecting and filling some
          candidates manually, you can continue the word selecting, choosing,
          and filling proocess automatically. The computer tries to find
          suitable substrings based on a scoring function. The score is based on
          repeated characters in the substring. The effectivity and the time
          complexity depends on the choosen parameters of the algorithm. Please
          note that the algorithm may not find the correct result. The results
          highly depends on the manually pre-filled word candidates.
          <br />
          <b>Automated</b> attack: Fully automated method without a manual word
          candidate selection.
          <br />
          <hr />
          The deafult dictionary contains 5000 most frequent English words. You
          can use any custom dictionary (text file). The only requirement is to
          separate the words in new lines.
          <br />
          <hr />
          The rest of this page contains four sections:
          <ol>
            <li>
              In the first section we can set the input text, character and word
              separators, choose your own dictionary (or use the default). After
              pressing the '<b>Update Table</b>' button, the input will be
              processed, and translated into the second '<b
                >Manual Pattern Search</b
              >' section.
            </li>
            <li>
              The second section consist of two panels. The left panel (table)
              contains interactive boxes, which are clickable. The rigth panel
              contains the world candidates for the selected char sequence.
            </li>
            <li>
              The third section allows us to finish the deciphering process of
              the input text (Semi)-Automatically. The computation time depends
              on the input text length, and on the selected parameteres (the
              depth and width of recursive search).
            </li>
            <li>
              After the computation is done, the result is displayed in the last
              '<b>Result</b>' section. If the result contains unmapped parts
              (marked with *), you can repeate the automated attack.
            </li>
          </ol>
          All sections contain detailed instructions.
        </div>
      </mat-card-content>
    </mat-card>

    <br>

    <div class="col-md-12" style="min-height: min-content">
      <div class="row">
        <mat-card id="dictionary_attack" class="col-md-12 action-mat-card">
          <mat-card-header>
            <mat-card-title>Input settings</mat-card-title>
          </mat-card-header>
          <div class="container-fluid" style="margin-bottom: 15px">
            <div class="row">
              <div
                class="col"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  max-width: 20%;
                "
              >
                <button
                  style="width: 130px; color: black; border-color: black"
                  class="btn btn-sm btn-action"
                  #hint1
                  (click)="onHint1Press(hint1)"
                >
                  Show Instructions
                </button>
              </div>
              <div class="col" style="display: flex; align-items: center">
                <p *ngIf="hint_1_is_active" style="font-size: 14px; margin: 0">
                  <b>Input</b> ... Encrypted text that we want to decipher.<br />
                  <b>Dictionary DB</b> ... Default dictionary used for
                  computation. Furthermore we can add Custom Dictionary. <br />
                  <b>Char separator</b> ... If the input contains separator
                  symbol that separates characters. <b>Example</b> =
                  'T.h.i.s.i.s', <b>Char Sep</b> = '.' <br />
                  <b>Word separator</b> ... If the input contains separator
                  symbol that separates words. <b>Example</b> = 'This-is'
                  <b>Word Sep</b> = '-'<br />
                  <b>Update table</b> ... Translates and transforms the input
                  into next section '<b>Manual Pattern Search</b>'
                </p>
              </div>
            </div>
            <hr *ngIf="hint_1_is_active" style="max-width: 90%" />
          </div>
          <mat-card-content style="word-wrap: break-word">
            <form [formGroup]="cipherInputsForm">
              <mat-form-field style="width: 90%">
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="9"
                  placeholder="Encrypted text"
                  name="messageInput"
                  formControlName="encrypted_message"
                ></textarea>
                <mat-hint
                  >Enter Encrypted text of any kind. The text must be between
                  {{ textMin }} - {{ textMax }} symbols long.
                </mat-hint>
                <mat-error
                  *ngIf="
                    cipherInputsForm
                      .get('encrypted_message')
                      .hasError('minlength')
                  "
                >
                  Please, enter message longer than {{ textMin }} letters.
                </mat-error>
                <mat-error
                  *ngIf="
                    cipherInputsForm
                      .get('encrypted_message')
                      .hasError('maxlength')
                  "
                >
                  Please, enter message shorter than {{ textMax }} letters.
                </mat-error>
              </mat-form-field>
            </form>
          </mat-card-content>

          <mat-card-content
            matInput
            style="width: 100%"
            id="partial_attack_table_wrapper"
            *ngIf="showPartialTable"
          >
            <div
              id="selectable_attributes_div"
              class="container-fluid"
              style="margin-left: 5%"
            >
              <div class="row">
                <div
                  class="col"
                  style="
                    display: flex;
                    align-items: end;
                    justify-content: left;
                    margin-left: 50px;
                  "
                >
                  <mat-hint>Input Options</mat-hint>
                </div>
                <div
                  class="col"
                  style="
                    display: flex;
                    align-items: end;
                    justify-content: left;
                    margin-left: 20px;
                  "
                  *ngIf="custom_dictionary"
                >
                  <mat-hint>Custom Dictionary Options</mat-hint>
                </div>
              </div>

              <div class="row">
                <div id="separator_div" class="col">
                  <label style="margin-right: 5px" for="dictionary_select"
                    >Dictionary DB:</label
                  >
                  <select
                    #dict
                    name="dictionary_select"
                    id="dictionary_select"
                    (change)="onCustomDictOptionChange(dict.value)"
                  >
                    <option value="eng_5000">ENG 5000</option>
                    <option value="custom_xyz">CUSTOM</option>
                  </select>
                  <br />
                  <div>
                    <label
                      style="margin-right: 5px"
                      for="input_custom_sep_input"
                      >Char Separator:</label
                    >
                    <input
                      size="10px"
                      #input_separator
                      name="input_custom_sep_input"
                      type="text"
                      #e
                      (keyup)="
                        onInputCharSeparatorChange(input_separator.value)
                      "
                    />
                  </div>
                  <div>
                    <label
                      style="margin-right: 5px"
                      for="input_custom_sep_input"
                      >Word Separator:</label
                    >
                    <input
                      #input_word_separator
                      [disabled]="!word_separator_selected"
                      size="10px"
                      name="input_custom_sep_input"
                      type="text"
                      #e
                      (keyup)="
                        onInputWordSeparatorChange(input_word_separator.value)
                      "
                      value="{{custom_input_word_sep_value}}"
                    />
                  </div>
                  <div>
                    <label
                      style="margin-right: 5px"
                      for="input_custom_sep_input"
                      >Select Custom Word Separator:</label
                    >
                    <input
                      #input_separator_space
                      name="input_custom_sep_input"
                      type="checkbox"
                      (click)="onSelectSpaceAsSeparator(input_word_separator)"
                      checked
                    />
                  </div>
                  <div style="margin-left: 57px">
                    <button
                      class="btn btn-sm btn-action"
                      (click)="createTable()"
                    >
                      Update Table
                    </button>
                  </div>
                </div>
                <div
                  id="custom_dictionary_div"
                  class="col"
                  *ngIf="custom_dictionary"
                >
                  <label style="margin-right: 5px"
                    >Dicitonary words must be separated by New Line.</label
                  >
                  <input
                    #fileUploader
                    name="custom_dictionary_element"
                    id="custom_dictionary_element"
                    type="file"
                    class="file-upload"
                    (change)="onFileSelected($event)"
                  />
                </div>
              </div>
            </div>
          </mat-card-content>
          <div class="col"></div>
        </mat-card>
      </div>
    </div>

    <br>

    <div class="col-md-12" style="min-height: min-content">
      <div class="row">
        <mat-card
          id="manual_dictionary_attack"
          class="col-md-12 action-mat-card"
        >
          <mat-card-header>
            <mat-card-title>Manual Pattern Search</mat-card-title>
          </mat-card-header>
          <div class="container-fluid" style="margin-bottom: 15px">
            <div class="row">
              <div
                class="col"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  max-width: 20%;
                "
              >
                <button
                  style="width: 130px; color: black; border-color: black"
                  class="btn btn-sm btn-action"
                  #hint2
                  (click)="onHint2Press(hint2)"
                >
                  Show Instructions
                </button>
              </div>
              <div class="col" style="display: flex; align-items: center">
                <div
                  *ngIf="hint_2_is_active"
                  style="font-size: 14px; margin: 0"
                >
                  <b>Selected number of words</b>: <br />
                  <ul style="margin: 0">
                    <li>
                      Single ... (Manual solving) find 1-word results that fit
                      into selection
                    </li>
                    <li>
                      Multiple ... (Manual solving) find 1-word and 2-word
                      results that fit into selection
                    </li>
                  </ul>
                  <b>Display</b>: <br />
                  <ul style="margin: 0">
                    <li>
                      TEXT ... input window contains boxes with symbols of the
                      input
                    </li>
                    <li>
                      PATTERN ... input window contains boxes with pattern value
                      relative to the symbol of the input
                    </li>
                  </ul>
                  <b>Sort Results By</b>: <br />
                  <ul style="margin: 0">
                    <li>
                      FREQUENCY ... sort results by the frequency that they
                      occur in natural language
                    </li>
                    <li>NAME ... sort results by their name</li>
                  </ul>
                  <b>Find Selected</b> ... finds and displays results (if any
                  exist) for the given input. <br />
                  <b>Clear Selected</b> ... clears the letter mapping for the selected input boxes. <br />
                  <b>Replace Selected</b> ... replaces all occurences of the
                  symbols in all boxes of input window <br />
                </div>
              </div>
            </div>
            <hr *ngIf="hint_2_is_active" style="max-width: 90%" />
          </div>
          <mat-card-content
            matInput
            style="width: 100%"
            id="partial_attack_table_wrapper"
            *ngIf="showPartialTable"
          >
            <div class="container-fluid">
              <div class="row" style="width: 100%">
                <div class="col">
                  <div
                    style="
                      display: flex;
                      align-items: end;
                      justify-content: center;
                    "
                  >
                    <label>Selected number of words:</label>
                  </div>
                </div>
                <div class="col">
                  <div
                    style="
                      display: flex;
                      align-items: end;
                      justify-content: center;
                    "
                  >
                    <label>Display</label>
                  </div>
                </div>
                <div class="col">
                  <div
                    style="
                      display: flex;
                      align-items: end;
                      justify-content: center;
                    "
                  >
                    <label>Sort Results By</label>
                  </div>
                </div>
              </div>
              <div class="row" style="width: 100%">
                <div class="col">
                  <div
                    style="
                      display: flex;
                      align-items: end;
                      justify-content: center;
                    "
                  >
                    <label>Single</label>
                    <label
                      class="switch"
                      style="margin-left: 10px; margin-right: 10px"
                    >
                      <input type="checkbox" (change)="onSingleMultiChange()" />
                      <span class="slider round"></span>
                    </label>
                    <label>Multiple</label>
                  </div>
                </div>
                <div class="col">
                  <div
                    style="
                      display: flex;
                      align-items: end;
                      justify-content: center;
                    "
                  >
                    <label>TEXT</label>
                    <label
                      class="switch"
                      style="margin-left: 10px; margin-right: 10px"
                    >
                      <input type="checkbox" (change)="onTextPatternChange()" />
                      <span class="slider round"></span>
                    </label>
                    <label>PATTERN</label>
                  </div>
                </div>
                <div class="col">
                  <div
                    style="
                      display: flex;
                      align-items: end;
                      justify-content: center;
                    "
                  >
                    <label>FREQUENCY</label>
                    <label
                      class="switch"
                      style="margin-left: 10px; margin-right: 10px"
                    >
                      <input type="checkbox" (change)="onSortResults()" />
                      <span class="slider round"></span>
                    </label>
                    <label>NAME</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="partial_div_left" class="col-7">
                  <app-box-value
                    *ngFor="let box of table"
                    [color]="box.color"
                    [center]="box.displayName"
                    [subscript]="box.originalName"
                    [wasSolved]="box.wasSolved"
                    [width]="box.width"
                    (click)="clickBox(box.id)"
                  ></app-box-value>
                </div>
                <div id="partial_div_right" class="col-4">
                  <app-box-value
                    *ngFor="let result of table_results"
                    [color]="result.color"
                    [center]="result.displayName"
                    [width]="result.width"
                    (click)="resultClicked(result.id)"
                  ></app-box-value>
                </div>
              </div>
              <div class="row">
                <div
                  class="col-7"
                  style="
                    display: flex;
                    justify-content: center;
                    margin-left: 20px;
                  "
                >
                <div>
                  <button
                  id="btn_find_selected"
                  style="width: 130px"
                  class="btn btn-sm btn-action"
                  (click)="findResultsForSequence()"
                >
                  Find Selected
                </button> 
                </div>
                <div>
                  <button
                  id="btn_remove_all_selected"
                  style="width: 130px"
                  class="btn btn-sm btn-action"
                  (click)="clearAllSelected()"
                >
                  Clear selected
                </button> 
                </div>
                </div>
                <div
                  class="col-4"
                  style="
                    display: flex;
                    justify-content: center;
                    margin-left: 20px;
                  "
                >
                  <button
                    id="btn_replace_selected"
                    style="width: 160px"
                    class="btn btn-sm btn-action"
                    (click)="replaceWithResult()"
                  >
                    Replace Selected
                  </button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <br>

    <div class="col-md-12" style="min-height: min-content">
      <div class="row">
        <mat-card
          id="manual_dictionary_attack"
          class="col-md-12 action-mat-card"
        >
          <mat-card-header>
            <mat-card-title>Automatic Pattern Search</mat-card-title>
          </mat-card-header>
          <div class="container-fluid" style="margin-bottom: 15px">
            <div class="row">
              <div
                class="col"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  max-width: 20%;
                "
              >
                <button
                  style="width: 130px; color: black; border-color: black"
                  class="btn btn-sm btn-action"
                  #hint3
                  (click)="onHint3Press(hint3)"
                >
                  Show Instructions
                </button>
              </div>
              <div class="col" style="display: flex; align-items: center">
                <p *ngIf="hint_3_is_active" style="font-size: 14px; margin: 0">
                  <b>Depth</b> ... from array of results how many recursive
                  results to go through <br />
                  <b>Width</b> ... from array of candidates of result how many
                  recursive candidates to go through <br />
                  <b>Solve Automatically</b> ... complete the decription of the
                  given input and display result in the next section.
                </p>
              </div>
            </div>
            <hr *ngIf="hint_3_is_active" style="max-width: 90%" />
          </div>
          <mat-card-content
            matInput
            style="width: 100%"
            id="partial_attack_table_wrapper"
          >
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <div>
                    <label
                      style="margin-right: 5px"
                      for="input_custom_sep_input"
                      >Depth:</label
                    >
                    <input
                      size="10px"
                      #rec_depth
                      name="input_custom_sep_input"
                      type="text"
                      value="{{ recursive_depth }}"
                      #e
                      (change)="onRecursiveDepthChange(rec_depth.value)"
                      (keyup)="onRecursiveDepthChange(rec_depth.value)"
                    />
                    <mat-error *ngIf="depth_is_incorrect"
                      >Depth requires numeral value!</mat-error
                    >
                  </div>
                  <div>
                    <label
                      style="margin-right: 5px"
                      for="input_custom_sep_input"
                      >Width:</label
                    >
                    <input
                      size="10px"
                      #rec_width
                      name="input_custom_sep_input"
                      type="text"
                      value="{{ recursive_width }}"
                      #e
                      (change)="onRecursiveWidthChange(rec_width.value)"
                      (keyup)="onRecursiveWidthChange(rec_width.value)"
                    />
                    <mat-error *ngIf="width_is_incorrect"
                      >Width requires numeral value!</mat-error
                    >
                  </div>
                  <div>
                    <button
                      [disabled]="width_is_incorrect || depth_is_incorrect"
                      style="margin-left: 0px"
                      class="btn btn-sm btn-action"
                      (click)="automaticallySolve()"
                    >
                      Solve Automatically
                    </button>
                    <mat-error *ngIf="width_is_incorrect || depth_is_incorrect"
                      >Depth and Width must be numeral values!</mat-error
                    >
                  </div>
                </div>
                <div class="col" *ngIf="solve_automatically_in_progress">
                  <p>Solving...</p>
                  <div class="loading"></div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <br>
    
    <mat-card
      id="results_section"
      class="col-md-12 computed-mat-card"
      *ngIf="computation_complete"
    >
      <mat-card-header>
        <mat-card-title>Result</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div class="  ">
          <div>
            This is the final result after cycle of Automatical solving: <br />
            <p style="margin-left: 10px"><b>Result</b>: {{ mask }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div></app-side-navbar
>
