#partial_div_left{ 
    min-height: 5em;
    max-height: 15em;
    margin-left: 20px;
    padding-left: 20px;
    border: solid 1px; 
    overflow: auto; 
}

.mat-card {
  margin: 0;
}

.mat-card-content {
  font-size: 15px !important;
}

#partial_div_right{ 
    min-height: 5em;
    max-height: 15em;
    margin-left: 20px;
    padding-left: 20px;
    border: solid 1px; 
    overflow: auto;
}

#btn_find_selected{
  margin-top: 5px;
  border-color: green;
  background-color: lightgreen;
  color: black;
}

#btn_remove_all_selected{
  margin-top: 5px;
  border-color: rgb(94, 94, 94);
  background-color: rgb(210, 209, 209);
  color: black;
  margin-left: 10px;
}

#btn_replace_selected{
    margin-top: 5px;
    border-color: #ed5459;
    background-color: orange;
    color: black;
}


/* SOURCE: https://www.w3schools.com/howto/howto_css_switch.asp*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /*SOURCE https://purecss.io/buttons/*/
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  /* SOURCE https://css.gg/close-r */
  
  .gg-close-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 26px;
    height: 26px;
    border: 2px solid; 
    border-radius: 4px
   }
   
   .gg-close-r::after,
   .gg-close-r::before {
    color: red;
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 10px;
    left: 4px
   }
   
   .gg-close-r::after {
    transform: rotate(-45deg)
   } 

   .loading{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid black;
    border-top: 4px solid transparent;
    animation: rotate 1.5s infinite linear;
   }

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}