a {
  display: inline-block;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  padding: 4px 6px;

  &:hover {
    background-color: #0454a518;
  }

  span {
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.54);
  }
}

.no-content {
  width: 75%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
