
.innerCell{
    width: 10px;
}

.outer_table{
    margin-left: 10px;
    width: 400px ;
    font-size: 17px;
    font-family:'Courier New', Courier, monospace;
}
.inner_table{
    font-size: 15px;
}

.prog_font{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
}

.mat-card {
    margin: 0;
  }
  
  .mat-card-content {
    font-size: 15px !important;
  }

/*SOURCE: https://stackblitz.com/edit/multiselect-checkbox-dropdown?file=src%2Fapp%2Fmulti-select-dropdown%2Fmulti-select-dropdown.component.html*/
/***
    css for multi select drop down
**/
.drop-toggle{
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    border: 1px solid #ccc;
    width: 183px;
    text-align: left;
}
.drop-toggle i{
    float:right;
}
.drop-show {
    
    padding: 4px;
    width: 181px;
    background-color: #FFF;
    border: 1px solid #BABABA;
    -webkit-box-shadow: 0 6px 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 6px 10px rgba(0,0,0,.15);
    box-shadow: 0 6px 10px rgba(0,0,0,.15);
    margin-left: 1px;
}
.drop-show label{
    display:block;
    font-size:15px;
    cursor: pointer;
}
.drop-show label input{
    vertical-align: top;
}
.drop-show label span{
    display:inline-block;
}