<app-side-navbar [sideMenu]="sideMenu" class="d-block">
    <div class="container">
        <mat-card class="col-md-12 info-mat-card">
          <mat-card-header>
            <mat-card-title>Description of the page</mat-card-title>
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word;">
            <div>
              The page contains four string-to-pattern conversion methods. Each section explains detailed approach of individual methods. 
              During each method all letters of a string are converted into lowercase letters. 
            </div>
          </mat-card-content>
        </mat-card>
    
        <br>
        <div class="col-md-12" style="min-height: min-content;">
          <div class="row">
            <mat-card id="string_conversion" class="col-md-12 action-mat-card">
              <mat-card-header>
                <mat-card-title>String conversion to patterns</mat-card-title>
              </mat-card-header>
              <mat-card-content style="word-wrap: break-word;">
                <form [formGroup]="inputForm">  
                  <mat-form-field style="width: 90%;">
                    <textarea
                      matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="9"
                      placeholder="Enter string to convert"
                      name="messageInput"
                      formControlName="input_message"
                    ></textarea>
                    <mat-hint
                      >The string must be between {{textMin}} - {{textMax}} symbols long.
                    </mat-hint>
                    <mat-error
                      *ngIf="inputForm.get('input_message').hasError('minlength')"
                    >
                      Please, enter message longer than {{textMin}} letters.
                    </mat-error>
                    <mat-error
                      *ngIf="inputForm.get('input_message').hasError('maxlength')"
                    >
                      Please, enter message shorter than {{textMax}} letters.
                    </mat-error>
                  </mat-form-field> 
                </form>
                
              </mat-card-content>

                <!--SOURCE: https://stackblitz.com/edit/multiselect-checkbox-dropdown?file=src%2Fapp%2Fmulti-select-dropdown%2Fmulti-select-dropdown.component.html -->
                <div>
                  <div>
                      <button class="drop-toggle btn flat" (click)="showDropDown=!showDropDown">
                          <span>Conversion methods</span>
                          <i class="fa fa-angle-down"></i>
                      </button>
                      <div class="drop-show" *ngIf="showDropDown">
                          <label *ngFor="let a of list">
                              <input type="checkbox" [(ngModel)]="a.checked" 
                                  (change)="getSelectedValue(a.checked,a.name)" style="margin-top: 4px; margin-right: 2px;" />
                              <span>{{a.name}}</span>
                          </label>
                      </div>
                  </div>
              </div>
              <mat-card-actions>
                <button class="btn btn-sm btn-action"  (click)="onConversionSubmit()">
                  Convert
                </button>
                
              </mat-card-actions>
            </mat-card>
          </div>
        </div>

        <div *ngIf="showSubst">
          <br>
          <mat-card id="subst" class="col-md-12 info-mat-card">
            <mat-card-header>
              <mat-card-title>Substitution method - Description</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
              <div>
                The most common and variouse method to express word-pattern of a string with respect to its' unique characters.
                One way is usage of Numerical Patterns.
                
                <br>
                <br>
                During substitutional conversion a first occurence of a symbol must have higher value than a symbol left from current one.
                <br>
                <br>
                <h6>Usage:</h6>
                <table class="outer_table">
                  <tr style="border-bottom: 1px solid black;">
                    <td>Index</td>
                    <table class="inner_table"> 
                      <tr><td class="innerCell" *ngFor="let a of '1234567'.split('')">{{a}}</td></tr>
                    </table>
                  </tr>
                  <tr>
                    <td>
                      String
                    </td>
                    <td>
                      <table class="inner_table">
                        <tr> <td class="innerCell" *ngFor="let a of 'BeBrave'.split('')">{{a}}</td></tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>Pattern</td>
                    <td>
                      <table class="inner_table">
                        <tr> <td class="innerCell" *ngFor="let a of '1213452'.split('')">{{a}}</td> </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <br>
                Every occurence of a unique symbol in <p class="prog_font">string</p> is given a numeric value. We can see that,
                <ul>
                  <li>"B" = 1</li>
                  <li>"e" = 2</li>
                  ...
                  <li>"v" = 5</li>
                  <li>"e" = 2</li>
                </ul>
                Looking closer to the pattern we see:
                <ul>
                  <li>"1,2,1": Indicates the letter at index 1 is repeated at index 3</li>
                  <li>"2,1,3,4,5,2": Indicates the letter at index 2 is repeated at index 7</li>
                </ul>
              </div>
            </mat-card-content>
          </mat-card>
          <br>
          <mat-card id="substitution" class="col-md-12 action-mat-card">
            <mat-card-header>
              <mat-card-title>Substitution method - Conversion</mat-card-title>
            </mat-card-header>
            <mat-card-content   >
              <div> 
                
                  Conversion of string <p class="prog_font">"{{input_string}}"</p>  into pattern <p class="prog_font">"[{{subst_answer}}]"</p> . 
                
                <table class="outer_table">
                  <tr>
                    <td>
                      String
                    </td>
                    <td>
                      <table class="inner_table">
                        <tr > <td *ngFor="let l of input_string_arr" class="innerCell">{{l}}</td> </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>Pattern</td>
                    <td>
                      <table class="inner_table">
                        <tr> <td *ngFor="let a of subst_answer" class="innerCell">{{a}}</td> </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

            </mat-card-content> 
          </mat-card>
        </div>

        <div *ngIf="showRepet">
          <br>
          <mat-card id="repet" class="col-md-12 info-mat-card">
            <mat-card-header>
              <mat-card-title>Repetition method - Description</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
              <div>
                The method involves creating a pattern from a word by capturing the frequency of repeated letters and representing it as a list of index pairs.                 
                <br>
                <br>
                <h6>Usage:</h6>
                <table class="outer_table">
                  <tr style="border-bottom: 1px solid black;">
                    <td>Index</td>
                    <table class="inner_table">
                      <tr> <td class="innerCell" *ngFor="let a of '1234567'.split('')">{{a}}</td> </tr>
                    </table>
                  </tr>
                  <tr>
                    <td>
                      String
                    </td>
                    <td>
                      <table class="inner_table">
                        <tr> <td class="innerCell" *ngFor="let a of 'BeBrave'.split('')">{{a}}</td> </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>Pattern</td>
                    <td>
                      <table class="inner_table">
                        <tr>
                          <td class="innerCell">[1-3, 2-7]</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <br>
                Pattern "[1-3, 2-7]" represents the repetition of letters in the word. 
                Each pair of numbers indicates a letter and the indices where it repeats.
                <ul>
                  <li>"BeBrave" has the letter 'e' repeated at indexes 1 and 3</li>
                  <li>The letter 'B' is repeated at index 2</li>
                </ul>
                Looking closer to the pattern we see:
                <ul>
                  <li>"1-3": Indicates the letter at index 1 is repeated at index 3</li>
                  <li>"2-7": Indicates the letter at index 2 is repeated at index 7</li>
                </ul>
                
              </div>
            </mat-card-content>
          </mat-card>
          <br>
          <mat-card id="substitution" class="col-md-12 action-mat-card">
            <mat-card-header>
              <mat-card-title>Repetition method - Conversion</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
              <div> 
                Conversion of string <p class="prog_font">"{{input_string}}"</p>  into pattern <p class="prog_font">"[{{repet_answer_str}}]"</p> . 
                <table class="outer_table">
                  <tr>
                    <td>
                      String
                    </td>
                    <td>
                      <table class="inner_table">
                        <tr > <td *ngFor="let l of input_string_arr" class="innerCell">{{l}}</td> </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>Pattern</td>
                    <td>
                      <table class="inner_table">
                        <tr> <td  class="innerCell">[{{repet_answer_str}}]</td> </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

            </mat-card-content> 
          </mat-card>
        </div>

        <div *ngIf="showFreqv">
          <br>
          <mat-card id="freqv" class="col-md-12 info-mat-card">
            <mat-card-header>
              <mat-card-title>Freqvency method - Description</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
              <div>
                Method that uses frequencies of letters as their pattern does not indeniably differ 
                which character <p class="prog_font">x1</p> corresponds to same character <p class="prog_font">x2</p>.
                <br>
                <br>
                <h6>Usage:</h6>
                <table class="outer_table">
                  <tr style="border-bottom: 1px solid black;">
                    <td>Index</td>
                    <table class="inner_table">
                      <tr><td class="innerCell" *ngFor="let a of '1234567'.split('')">{{a}}</td> </tr>
                    </table>
                  </tr>
                  <tr>
                    <td>
                      String
                    </td>
                    <td>
                      <table class="inner_table">
                        <tr> <td class="innerCell" *ngFor="let a of 'BeBrave'.split('')">{{a}}</td> </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>Pattern</td>
                    <td>
                      <table class="inner_table">
                        <tr> <td class="innerCell" *ngFor="let a of '2221112'.split('')">{{a}}</td> </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <br>
                As we can see,
                <ul>
                  <li>"BeB" has same pattern [2,2,2],</li>
                  <li>Although, the pattern is same and letters are different,</li>
                  <li>We focus on number of occurences not on position of letters.</li>
                </ul>
                Looking closer to the pattern we see:
                <ul>
                  <li>We can easily count number of repeating letters, </li>
                  <li>Using which we may use fonetical anylysis to narrow potentional words.</li>
                </ul>
              </div>
            </mat-card-content>
          </mat-card>
          <br>
          <mat-card id="substitution" class="col-md-12 action-mat-card">
            <mat-card-header>
              <mat-card-title>Frequency method - Conversion</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
              <div> 
                Conversion of string <p class="prog_font">"{{input_string}}"</p>  into pattern <p class="prog_font">"[{{freqv_answer}}]"</p> . 
                <table class="outer_table">
                  <tr>
                    <td>
                      String
                    </td>
                    <td>
                      <table class="inner_table">
                        <tr> <td *ngFor="let l of input_string_arr" class="innerCell">{{l}}</td> </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>Pattern</td>
                    <td>
                      <table class="inner_table">
                        <tr> <td  class="innerCell">{{freqv_answer}}</td> </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

            </mat-card-content> 
          </mat-card>
        </div>

        <div *ngIf="showDist">
          <br>
          <mat-card id="dist" class="col-md-12 info-mat-card">
            <mat-card-header>
              <mat-card-title>Distance method - Description</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
              <div>
                Certain words can have very <p class="prog_font">diverse</p> and <p class="prog_font">unique</p> patterns. 
                One of these diverse application is <p class="prog_font">providing numerical distance</p> between repetitions of letters. 
                This method applies the amount of letters between each repeating symbols in <p class="prog_font">string</p>.
                <br>
                <br>
                <h6>Usage:</h6>
                <table class="outer_table">
                  <tr style="border-bottom: 1px solid black;">
                    <td>Index</td>
                    <table class="inner_table">
                      <tr><td class="innerCell" *ngFor="let a of '1234567'.split('')">{{a}}</td> </tr>
                    </table>
                  </tr>
                  <tr>
                    <td>
                      String
                    </td>
                    <td>
                      <table class="inner_table">
                        <tr> <td class="innerCell" *ngFor="let a of 'BeBrave'.split('')">{{a}}</td> </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>Pattern</td>
                    <td>
                      <table class="inner_table">
                        <tr> <td class="innerCell">[1,4]</td> </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <br>
                As we can see,
                <ul>
                  <li>Number [1] corresponds to number of letters between occurence of <p class="prog_font">repeating symbol_1</p> and his next occurence in <p class="prog_font">string</p> </li>
                  <li>Similarly, number [4] corresponds to number of letters between occurence of <p class="prog_font">repeating symbol_2</p> and his next occurence.</li>
                </ul>
                <p class="prog_font">Distance method</p>  and <p class="prog_font">Repetition method</p> 
                both do not always reveal correct positions of repeating symbols, 
                but they both narrow down the patterns to some specific characteristic, 
                such as repetition always with distance of two symbols.  
              </div>
            </mat-card-content>
          </mat-card>
          <br>
          <mat-card id="substitution" class="col-md-12 action-mat-card">
            <mat-card-header>
              <mat-card-title>Distance method - Conversion</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
              <div> 
                Conversion of string <p class="prog_font">"{{input_string}}"</p>  into pattern <p class="prog_font">"[{{dist_answer_str}}]"</p> . 
                <table class="outer_table">
                  <tr>
                    <td>
                      String
                    </td>
                    <td>
                      <table class="inner_table">
                        <tr> <td *ngFor="let l of input_string_arr" class="innerCell">{{l}}</td> </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>Pattern</td>
                    <td>
                      <table class="inner_table">
                        <tr> <td  class="innerCell">[{{dist_answer_str}}]</td> </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <br>
                Value can be also 0. In that case the letters are next to each other, by which the length of strings between them is 0.
              </div>

            </mat-card-content> 
          </mat-card>
        </div>
        
    </div>