<div class="container text-center col-md-12">
  <b>Select the key length</b>
  <br />
  <div class="row">
    <mat-button-toggle-group
      class="center-toogle-group"
      [(ngModel)]="selectedValue"
      #group="matButtonToggleGroup"
    >
      <mat-button-toggle
        *ngFor="let item of toggleOptions"
        (change)="selectionOfGraphChanged($event)"
        [value]="item"
      >
        {{ item }}
      </mat-button-toggle>
    </mat-button-toggle-group>
    <br />
    <br />
    <br />
    <br />

    <br />
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-5 offset-lg-4">
          <div
            *ngIf="passedMinIc; else notPassed"
            class="alert alert-danger"
            role="alert"
          >
            <strong>Wrong IC values</strong>
            <br />
            <span
              >Avarage Index of coincidence for all cosets is:
              {{ ic.value | number: "1.0-4" }}</span
            >
            <br />
          </div>
          <ng-template #notPassed>
            <div class="alert computed-box" role="alert">
              <span
                >Avarage Index of coincidence for all cosets is:
                {{ ic.value | number: "1.0-4" }}</span
              >
              <br />
            </div>
          </ng-template>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 container">
  <div class="row justify-content-center">
    <div
      class="col-md-3 col-sm-3 box"
      *ngFor="let box of allBoxes[selectedValueNum - 2]; let j = index"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-title>Coset {{ j + 1 }}</mat-card-title>
        </mat-card-header>
        <mat-card-content style="word-wrap: break-word;">
          <span [style.color]="colors[j % selectedValueNum]">
            {{ box }}
          </span>
        </mat-card-content>
        <mat-card-actions>
          IC:
          {{ allBoxesIc[selectedValueNum - 2][j] | number: "1.0-4" }}
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
