.cancel-icon {
  width: 20px;
  height: 20px;
}

.add-icon {
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

.add-button {
  display: flex;
  flex: 1;
  flex-direction: row;
  vertical-align: middle;
  margin-top: 16px;
}

.full-width {
  display: block;
  overflow: auto;
}

.table-wrapper {
  padding-bottom: 16px;
}
