<app-side-navbar [sideMenu]="sideMenu" class="d-block">
  <div class="container">
    <mat-card class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Description of the attack method</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <p>
          Anagram method can be used if two or more messages of the same length
          are ecnrypted with the same keys. We use depth attack in combination
          with known key that can be deducted from the first message to align
          the messages until it shows meaningful text in the same places.
          Without needing to know the transposition steps that have taken place.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card id="inputs" class="col-md-12 action-mat-card">
      <mat-card-header>
        <mat-card-title>Input setup</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <form [formGroup]="cipherInputsForm">
          <mat-form-field style="width: 90%">
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="9"
              placeholder="Hint (crib) for the first message"
              name="hintInput"
              formControlName="hint"
            ></textarea>
            <mat-hint
              >The text must be written in the range {{ minHintLength }} -
              {{ maxHintLength }} letters and must contain only letters a-z or
              A-Z.
            </mat-hint>
            <mat-error
              *ngIf="cipherInputsForm.get('hint').hasError('minlength')"
            >
              Please, enter hint longer than {{ minhintLength }} letters.
            </mat-error>
            <mat-error
              *ngIf="cipherInputsForm.get('hint').hasError('maxlength')"
            >
              Please, enter hint shorter than {{ maxHintLength }} letters.
            </mat-error>
            <mat-error *ngIf="cipherInputsForm.get('hint').hasError('pattern')">
              The text can contain only letters a-z or A-Z.
            </mat-error>
          </mat-form-field>

          <ng-container formArrayName="messageArray">
            <div *ngFor="let control of messageArray.controls; index as i">
              <mat-form-field style="width: 90%">
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="9"
                  placeholder="Mesage {{ i }}"
                  name="messageArray-{{ i }}"
                  [formControlName]="i"
                ></textarea>

                <mat-hint *ngIf="i === 0"
                  >The text must be written in the range
                  {{ minMessageLength }} - {{ maxMessageLength }} letters and
                  must contain only letters a-z or A-Z.
                </mat-hint>

                <mat-hint *ngIf="i > 0"
                  >The text must be exactly {{ messageLength }} letters and must
                  contain only letters a-z or A-Z.
                </mat-hint>

                <mat-error *ngIf="control.hasError('required')">
                  Please, enter text.
                </mat-error>
                <mat-error *ngIf="control.hasError('pattern')">
                  The text can contain only letters a-z or A-Z.
                </mat-error>

                <mat-error *ngIf="control.hasError('minlength') && i === 0">
                  Please, enter text longer than {{ minMessageLength }} letters.
                </mat-error>
                <mat-error *ngIf="control.hasError('maxlength') && i === 0">
                  Please, enter text shorter than
                  {{ maxMessageLength }} letters.
                </mat-error>

                <mat-error *ngIf="control.hasError('minlength') && i > 0">
                  Please, enter text of exactly {{ messageLength }} letters.
                </mat-error>
                <mat-error *ngIf="control.hasError('maxlength') && i > 0">
                  Please, enter text of exactly {{ messageLength }} letters.
                </mat-error>
              </mat-form-field>

              <button class="btn btn-sm" *ngIf="i" (click)="removeField(i)">
                <img class="cancel-icon" src="assets/icons/cancel_icon.svg" />
              </button>
            </div>
          </ng-container>

          <button class="btn btn-sm add-button" (click)="addField()">
            <div>Add field</div>
            <img class="add-icon" src="assets/icons/add_icon.svg" />
          </button>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <p>
          To remove accents and punctuation from the text, please use the
          <a
            href="https://manulab.hcportal.eu/example/index.html"
            target="_blank"
            >ManuLab online</a
          >
          tool.
        </p>
        <button class="btn btn-sm btn-action" (click)="createMovableTable()">
          Create the movable table
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Description of the movable table</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <p>
          You can try to align anagrams in the messages yourself or run the
          automatic attack that will form anagrams from the hint and then
          continue the cryptoanalytis yourself.
        </p>
        <p>Unique characters are marked with unique color for each row.</p>
        <p>
          Columns can be grouped by selecting it with select box under each
          column.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card
      id="example"
      class="col-md-12 action-mat-card"
      [ngClass]="{ hide: !tableReady, show: tableReady }"
    >
      <mat-card-header>
        <mat-card-title>Movable table</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="table-wrapper full-width" cdkScrollable>
          <p *ngIf="!!hint">Hint: {{ hint }}</p>
          <app-movable-table
            [movableColumns]="movableColumns"
          ></app-movable-table>
        </div>

        <app-anagram-colorboxes
          [positionedColors]="positionedColors"
          (onColorboxClick)="onColorboxClick($event)"
        ></app-anagram-colorboxes>
      </mat-card-content>
    </mat-card>

    <mat-card class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Description of the attack</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <p>
          The attack first checks if the hint is contained in the first row. If
          so it tries to align columns so that the hint appears in the first row
          from 0-th index left to right.
        </p>
        <p>
          Each aligment is scored, <b>score</b> is based on statistical analysis
          you can choose.
        </p>
        <p>
          <b>Score</b> calculation based on
          <b>dictionary of selected length</b> is calculated for each row by
          finding the longest word from dictionary that is contained the row,
          and is later summed up to form score for the whole table.
        </p>
        <p><b>Score</b> calculation based on <b>matching bigrams</b>:</p>
        <h5><ng-katex [equation]="equation_score"></ng-katex>,</h5>
        <p>
          where m<sub>i,j</sub> is the measured frequency of bigram i,j and
          r<sub>i,j</sub> is the reference one.
        </p>
        <p>
          Bigrams are matched for each row based on the comparison of bigram
          statistics of the decrypted text with reference values (calculated
          from a large corpus). The most effective evaluation length limit is on
          the whole text.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card id="run" class="col-md-12 action-mat-card">
      <mat-card-header>
        <mat-card-title>Run the attack</mat-card-title>
      </mat-card-header>
      <mat-card-content class="row" style="word-wrap: break-word">
        <form [formGroup]="attackInputsForm">
          <mat-form-field class="col-md-3">
            <mat-label>Evaluation method</mat-label>
            <mat-select formControlName="evaluationMethod" required>
              <mat-option
                *ngFor="let food of evaluationMethods"
                [value]="food.value"
              >
                {{ food.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-md-3">
            <mat-label>Evaluation length limit</mat-label>
            <mat-select formControlName="evaluationLength" required>
              <mat-option
                *ngFor="let food of evaluationLengths"
                [value]="food.value"
              >
                {{ food.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <br />
          <br />

          <mat-form-field class="col-md-3">
            <input
              matInput
              type="number"
              placeholder="Minimum dictionary word length"
              name="minDictWordLengthInput"
              formControlName="minDictWordLength"
            />
            <mat-error
              *ngIf="attackInputsForm.get('minDictWordLength').hasError('min')"
            >
              Minimum dictionary word length must be at least 0.
            </mat-error>
          </mat-form-field>
        </form>

        <br />

        <p class="col-12">
          Here you can select a few settings that change evaluation of score.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-sm btn-action" (click)="runAttack()">
          Run the attack
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card
      class="col-md-12 computed-mat-card"
      [ngClass]="{ hide: !topTableReady, show: topTableReady }"
    >
      <mat-card-header>
        <mat-card-title> Checking the results </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          At least top 10 results based on the score. The best candidate for
          anagrams in the beginning of messages.
        </p>

        <br />

        <p>
          By clicking on a row one can create a new instance of movable columns
          available to further work with bellow.
        </p>

        <br /><br />

        <app-table
          [columnNames]="columnsBestResults"
          [stickyColumns]="stickyColumns"
          [dataSource]="dataSourceBestResults"
          [defaultSort]="sortBestResults"
          [ready]="dataSourceBestResultsReady"
          (onRowClick)="onRowClick($event)"
        >
        </app-table>
      </mat-card-content>
    </mat-card>

    <mat-card
      id="results"
      class="col-md-12 computed-mat-card"
      [ngClass]="{ hide: !topTableReady, show: topTableReady }"
    >
      <mat-card-header>
        <mat-card-title>The best movable table anagram strips</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="!this.topMovableColumns">
          Hint is not contained in first the row of the table.
        </p>
        <ng-container *ngIf="!!this.topMovableColumns">
          <div class="table-wrapper full-width" cdkScrollable>
            <p *ngIf="!!hint">Hint: {{ hint }}</p>
            <app-movable-table
              [movableColumns]="topMovableColumns"
            ></app-movable-table>
          </div>

          <app-anagram-colorboxes
            [positionedColors]="positionedColors"
            (onColorboxClick)="onColorboxClick($event)"
          ></app-anagram-colorboxes>
        </ng-container>
      </mat-card-content>
    </mat-card>

    <mat-card
      class="text-center col-md-12"
      [ngClass]="{ hide: topTableReady, show: !topTableReady }"
    >
      <mat-card-content>
        <h5>Please wait ... calculating ...</h5>
        <br />
        <mat-progress-spinner class="spinner" [mode]="'indeterminate'">
        </mat-progress-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-sm btn-action" (click)="terminateAttack()">
          Terminate the attack
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</app-side-navbar>
