<app-side-navbar [sideMenu]="sideMenu" class="d-block real-cipher">
    <div class="container">
        <mat-card id="description" class="col-md-12 info-mat-card">
            <mat-card-header>
                <mat-card-title>Description of the cipher</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
                <div class="  ">
             
                    The main character is shipwrecked alone on the planet Mars. The radio was broken and the only way to communicate with NASA was by sending messages using hexadecimal ASCII codes. This is rather a code, not a cipher.                    <br>
                 
                    <br />

                    <mat-card-header>
                        <mat-card-title>Pictures of the cipher from the movie:</mat-card-title>
                    </mat-card-header>
                    <p>
                        <img [src]="martian1" alt="martian_1" height="333" width="427" class="center">
                        
                        <img [src]="martian2" alt="martian_2" height="333" width="427" class="center">
                    </p>
                    <mat-card-content style="word-wrap: break-word;">
                        <div class="  ">
                            Source: "Image of Mark Watney solving the cipher from 'The Martian' movie, directed by Ridley Scott, produced by the 20th Century Fox, 2015."
                        </div>
                    
                    </mat-card-content>
                    <br />
                    <mat-card-header>
                        <mat-card-title> Cipher key (ASCII hex table):</mat-card-title>
                    </mat-card-header>
                    <p>
                        <img [src]="martian_table" alt="martian_table" height="333" width="627" class="center">
                    </p>
                    <mat-card-content style="word-wrap: break-word;">
                        <div class="  ">
                            Source: "Image of the cipher key (ASCII hex table) from 'The Martian' movie, directed by Ridley Scott, produced by the 20th Century
                            Fox, 2015."
                        </div>
                    
                    </mat-card-content>
                </div>
            </mat-card-content>
        </mat-card>

        <br />

        <div class="col-md-12">
            <div class="row">
                <mat-card id="inputs" class="col-md-12 action-mat-card">
                    <mat-card-header>
                        <mat-card-title>Input setup</mat-card-title>
                    </mat-card-header>

                    <mat-card-content style="word-wrap: break-word;">
                        <form [formGroup]="cipherInputsForm">
                    
                            <mat-form-field style="width: 90%;">
                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="2" cdkAutosizeMaxRows="9" placeholder="Plain text"
                                    name="messageInput" formControlName="message"></textarea>
                                    <mat-hint>The text must be not empty and must contain only letters a-z or A-Z.
                                    </mat-hint>
                                <mat-error *ngIf="cipherInputsForm.get('message').hasError('minlength')">
                                    Please, enter message longer than 1 letter.
                                </mat-error>
                                <mat-error *ngIf="cipherInputsForm.get('message').hasError('maxlength')">
                                    Please, enter message shorter than 2000 letters.
                                </mat-error>
                                <mat-error *ngIf="cipherInputsForm.get('message').hasError('pattern')">
                                    The text can contain only letters a-z or A-Z.
                                </mat-error>
                            </mat-form-field>
                        
                        </form>
                    </mat-card-content>

                    <mat-card-actions>
                        <button class="btn btn-sm btn-action" (click)="enDeCryptMessage()">
                            Encrypt the text 
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <br />

            <div class="row">
                <div class="col-md-6 remove-left-marigns">
                    <mat-card class="computed-mat-card">
                        <mat-card-header>
                            <mat-card-title>Encrypted text</mat-card-title>
                        </mat-card-header>
                        <mat-card-content style="word-wrap: break-word;">
                            <p>
                                {{ encryptedText }}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                
            </div>


            <br />

        </div>
    </div>
    <br />
    <br />
</app-side-navbar>