.mat-accordion .mat-expansion-panel {
  padding: 8px;
}

.mat-accordion .mat-expansion-panel:not(.bottom-margin) {
  margin-bottom: 1rem;
}

.mat-accordion .mat-expansion-panel:not(.small-bottom-margin) {
  margin-bottom: 3rem;
}

.mat-accordion .mat-expansion-panel:is(.no-margin) {
  margin-bottom: 0;
}

.no-margin {
  margin-bottom: 0;
}

.bottom-margin {
  margin-bottom: 3rem;
}

.small-bottom-margin {
  margin-bottom: 1rem;
}

.accordion-title {
  font-size: 20px;
  font-weight: 500;
}

.accordion-descriptiom {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
}
