<app-side-navbar [sideMenu]="sideMenu" class="d-block">
  <!-- <button mat-button (click)="sidenav.toggle()">Toggle</button> -->
  <div class="container">
    <mat-card class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Description of the cipher</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <!--          <div class="col-md-8 col-md-offset-2">-->
        <p>
          Monoalphabetic substitution replaces
          letters of the plain text with letters/symbols of the cipher text
          based on pre-defined rules. Each letter from the plain text alphabet
          maps exactly to one letter/symbol from the cipher text alphabet
          (bijection). If the plain text alphabet is the same as the cipher text
          alphabet, the key of the cipher is a permutation of the used alphabet.
        </p>
        <!--          </div>-->
      </mat-card-content>
    </mat-card>

    <br>

    <!--        <div class="row">-->
    <!--          <mat-card id="inputs" class="col-md-12 action-mat-card">-->
    <!--            <mat-card-header>-->
    <!--              <mat-card-title-->
    <!--                >Input setup</mat-card-title-->
    <!--              >-->
    <!--            </mat-card-header>-->
    <!--            <mat-card-content style="word-wrap: break-word;">-->
    <!--              {{ rndKey }}-->
    <!--            </mat-card-content>-->
    <!--            <mat-card-actions>-->
    <!--              <button class="btn btn-sm btn-action" (click)="shuffleRndKey()">-->
    <!--                Generate-->
    <!--              </button>-->
    <!--            </mat-card-actions>-->
    <!--          </mat-card>-->
    <!--        </div>-->

    <!--        <br />-->

    <mat-card class="col-md-12 action-mat-card" id="inputs">
      <mat-card-header>
        <mat-card-title>Input setup</mat-card-title>
      </mat-card-header>

      <mat-card-content style="word-wrap: break-word">
        <mat-hint>Key: </mat-hint>
        {{ rndKey }}
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-sm btn-action" (click)="shuffleRndKey()">
          Generate
        </button>
      </mat-card-actions>

      <mat-card-content style="word-wrap: break-word">
        <form [formGroup]="cipherInputsForm">
          <mat-form-field style="width: 90%">
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="9"
              placeholder="Plain text"
              name="messageInput"
              formControlName="message"
            ></textarea>
            <mat-hint
              >The text must be written in English language, in the range 20 -
              2000 letters and must contain only letters a-z or A-Z.
            </mat-hint>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('minlength')"
            >
              Please, enter message longer than 20 letters.
            </mat-error>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('maxlength')"
            >
              Please, enter message shorter than 2000 letters.
            </mat-error>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('pattern')"
            >
              The text can contain only letters a-z or A-Z.
            </mat-error>
          </mat-form-field>
          <p>
            <br />
            To remove accents and punctuation from the text, please use the
            <a
              href="https://manulab.hcportal.eu/example/index.html"
              target="_blank"
              >ManuLab online</a
            >
            tool.
          </p>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="btn btn-sm btn-action"
          (click)="encryptEndDecryptMessage()"
        >
          Encrypt the text
        </button>
      </mat-card-actions>
    </mat-card>

    <br>
        <mat-card  class="col-md-12 computed-mat-card">
          <mat-card-header>
            <mat-card-title>Encrypted text</mat-card-title>
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word">
            {{ encryptedText }}
          </mat-card-content>
        </mat-card>
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <mat-card class="computed-mat-card">-->
<!--          <mat-card-header>-->
<!--            <mat-card-title>Decrypted text</mat-card-title>-->
<!--          </mat-card-header>-->
<!--          <mat-card-content style="word-wrap: break-word">-->
<!--            <p>-->
<!--              {{ decryptedText }}-->
<!--            </p>-->
<!--          </mat-card-content>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--    </div>-->

    <br>

    <mat-card id="findKey" class="info-mat-card col-md-12">
      <mat-card-header>
        <mat-card-title>Hill-Climbing attack description</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <p>
          The key space of simple substitution using n unique letters is n!. For
          English alphabet this is 26!, so a brute force attack can't be used.
          An elegant and modern option is to search the key space with a
          meta-heuristic algorithm.
        </p>
        <p>
          Meta-heuristics are based on an iterative search of the solution
          space. One or more solution candidates are examined in each iteration.
          The search process is controlled by comparison of new solution
          candidates with candidates from the previous iteration, where the
          candidates with better score are favoured.
        </p>
        <p>
          In our demonstration we are using the so called Hill-Climbing (HC)
          method.
        </p>
        <p>
          The main idea of HC is in an iterative search, where in each iteration
          we accept only key candidates that improve our previous one. Instead
          of evaluating the quality of the key we can evaluate the quality of a
          plain text candidate (the known cipher text decrypted by this key).
          This quality (score) can be evaluated in several ways. Commonly used
          scoring function is based on the comparison of bigram statistics of
          the decrypted text with reference values (calculated from a large
          corpus).
        </p>

        Our Hill-Climbing consists of the following steps:
        <ul style="list-style-type: disc">
          <li>Generate a random initial key and calculate its score.</li>
          <li>Swap 2 letters in the key and calculate the new score.</li>
          <li>
            If the new key produces plain text candidate with a better score,
            replace the old key with the new key.
          </li>
        </ul>
        <p>We repeat these steps n times.</p>

        The score is calculated as
        <h5><ng-katex [equation]="equation_score"></ng-katex>,</h5>
        <p>
          where m<sub>i,j</sub> is the measured frequency of bigram i,j and
          r<sub>i,j</sub> is the reference one.
        </p>
        <p>
          To improve the accuracy, the whole process can be repeated several
          times. If the number of attempts is r, we obtain r results. The result
          with the best score amongst these r candidates is the final key.
        </p>
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card id="attack" class="col-md-12 action-mat-card">
      <mat-card-header>
        <mat-card-title>Hill-Climbing setup</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <!--            We generate random key for Hill climbing-->

        <form [formGroup]="cipherAttemptForm">
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="Number of attempts"
              name="attemptInput"
              formControlName="numberOfAttempt"
              min="1"
              max="10"
            />
            <mat-hint>Must be in range from 1 to 10. </mat-hint>
            <mat-error
              *ngIf="
                cipherAttemptForm.get('numberOfAttempt').hasError('max') ||
                cipherAttemptForm.get('numberOfAttempt').hasError('min')
              "
            >
              Must be in range from 1 to 10.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="Number of iterations"
              name="iterationsInput"
              formControlName="numberOfIterations"
              min="100"
              max="10000"
            />
            <mat-hint>Must be in range from 100 to 10 000. </mat-hint>
            <mat-error
              *ngIf="
                cipherAttemptForm.get('numberOfIterations').hasError('max') ||
                cipherAttemptForm.get('numberOfIterations').hasError('min')
              "
            >
              Must be in range from 100 to 10 000.
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-sm btn-action" (click)="calcDataForPage()">
          Run the attack
        </button>
      </mat-card-actions>
    </mat-card>

    <br>

    <div *ngIf="theBestGuess" [ngClass]="{ hide: !calcDone, show: calcDone }">
      <mat-card id="result" class="col-md-12 computed-mat-card">
        <mat-card-header>
          <mat-card-title>The best key candidate</mat-card-title>
          <!--            <mat-card-subtitle> {{ theBestGuess.key }} </mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content style="word-wrap: break-word">
          <mat-hint>Key candidate: </mat-hint>
          {{ theBestGuess.key }}
          <br />
          <p>
            <!--              Key<sub>enc</sub>: <b>{{ keys.encKey }}</b> <br />-->
            <mat-hint>Correct key: </mat-hint>
            <b>
              {{ correctKey }}
            </b>
          </p>
        </mat-card-content>

        <mat-card-content style="word-wrap: break-word">
          <mat-hint>Text (first 150 letters): </mat-hint>
          <br />
          <p>{{ theBestGuess.decryptedText | slice : 0 : 150 }}</p>
          <h5>Score: {{ theBestGuess.sum | number : "1.0-3" }}</h5>
          <p>
            <!--<small>-->
            <!--*stat. distance between measured 2-gram frequencies and reference values-->
            <!--for English language-->
            <!--</small>-->
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <br>

    <div [ngClass]="{ hide: !calcDone, show: calcDone }">
      <mat-card class="col-md-12 col-xs-12 computed-mat-card">
        <mat-card-header>
          <mat-card-title>
            Evolution of the score and the match rate
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            The following table contains some details of the best solving
            attempt. In each iteration the score is better (the statistical
            distance of 2-grams is smaller). Better score (in most cases) means
            better match rate with the correct solution.
          </p>

          <p>
            Column named <b>matchRate</b> is defined as the ratio of correctly
            determined letters to the length of the decrypted text.
          </p>
          <p>
            Column named <b>sum</b> is the score calculated as a statistical
            distance of 2-gram frequencies of the decrypted text from reference
            values.
          </p>

          <br /><br />

          <app-table
            [columnNames]="columnsBestResults"
            [stickyColumns]="stickyColumns"
            [dataSource]="dataSourceBestResults"
            [defaultSort]="sortBestResults"
            [ready]="dataSourceBestResultsReady"
          >
          </app-table>
        </mat-card-content>
      </mat-card>
    </div>

    <br>

    <div [ngClass]="{ hide: !calcDone, show: calcDone }" class="row">
      <div class="col-md-12 col-xs-12">
        <mat-card id="compareBigrams" class="computed-mat-card">
          <mat-card-header>
            <mat-card-title>
              Comparison of score and match rate
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Use the following chart to visually compare the change of the score
            and match rate.
            <app-graph
              #iterScoreGraph
              [chartOptionsFreqGraph]="chartOptionsIterScoreGraph"
              [data]="dataSourceiterScoreGraph"
            ></app-graph>
          </mat-card-content>
        </mat-card>

        <mat-card id="increaseDecMatchRate" class="computed-mat-card">
          <mat-card-header>
            <mat-card-title> Match rate change details </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p></p>

            <app-graph
              #matchRateIncrease
              [chartOptionsFreqGraph]="chartOptionsMatchRateIncreaseGraph"
              [data]="dataSourceMatchRateIncreaseGraph"
            ></app-graph>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <br>

    <mat-card
      class="text-center col-md-12"
      [ngClass]="{ hide: calcDone, show: !calcDone }"
    >
      <mat-card-content>
        <h5>Please wait ... calculating ...</h5>
        <br />
        <mat-progress-spinner class="spinner" [mode]="'indeterminate'">
        </mat-progress-spinner>
      </mat-card-content>
    </mat-card>
  </div>
</app-side-navbar>
