tr>td {
    border-bottom: 1px solid #c2c2c2;
}

tr>td:hover {
    background-color: #b9b9b9;
}

.decrypt-button {
    margin-left: 2px;
    margin-right: 1px;
    width: 50px;
    height: 50px;
    padding: 1px;
    border: 1px solid #ccc;
    background-color: #1013d8;
}

.decrypt-button img {
    width: 100%;
    height: auto;
}


.table-header {
    width: 90%;
    margin: auto;
    text-align: right;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}