<app-side-navbar [sideMenu]="sideMenu" class="d-block real-cipher">
    <div class="container">
        <mat-card id="description" class="col-md-12 info-mat-card">
            <mat-card-header>
                <mat-card-title>Description of the cipher</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
                <div class="  ">
                    Futurama TV show has its place in the hearts of a lot of people, but they may not know about the existence of ciphers in it. One of them is this substitution cipher where each hieroglyph on the cover of the yellow and blue book represents a character of the English alphabet. These hieroglyphs have been appearing in the series essentially since the first episode, accumulating enough messages for the cipher to be cracked by fans, who compiled a complete alphabet, which includes numbers and punctuation. Using this alphabet, we can decipher the text on the cover that says: "Backwards Time Travel Made Easy".
                    <br>
                    <br>

                    <mat-card-header>
                        <mat-card-title>Picture of the cipher from the series:</mat-card-title>
                    </mat-card-header>
                    <p>
                        <img [src]="futurama1" alt="futurama1" height="333" width="427" class="center">
                    </p>
                    <mat-card-content style="word-wrap: break-word;">
                        <div class="  ">
                            Source: "TV show 'Futurama', created by Matt Groening, aired on Fox."
                        </div>

                    </mat-card-content>
                    <mat-card-header>
                        <mat-card-title>Cipher key:</mat-card-title>
                    </mat-card-header>
                    <p>
                        <img [src]="futurama2" alt="futurama2" height="333" width="557" class="center">
                    </p>
                    <mat-card-content style="word-wrap: break-word;">
                        <div class="  ">
                            Source: Reddit (r/coolguides)"
                        </div>

                    </mat-card-content>

                </div>
            </mat-card-content>
        </mat-card>
        <br />

        <div class="col-md-12">
            <div class="row">
                <mat-card id="inputs" class="col-md-12 action-mat-card">
                    <mat-card-header>
                        <mat-card-title>Input setup</mat-card-title>
                    </mat-card-header>

                    <mat-card-content style="word-wrap: break-word;">
                        <form [formGroup]="cipherInputsForm">

                            <mat-form-field style="width: 90%;">
                                <textarea id="source-textarea" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="2" cdkAutosizeMaxRows="9" placeholder="Plain text" name="messageInput"
                                    formControlName="message"></textarea>
                                <mat-hint>The text must be not empty and should contain only elements from the cipher key.
                                </mat-hint>
                            </mat-form-field>

                        </form>
                    </mat-card-content>

                    <mat-card-actions>
                        <button class="btn btn-sm btn-action" (click)="enCryptMessage()">
                            Encrypt the text
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <br />

            <div class="row">
                <div class="">
                    <mat-card class="computed-mat-card">
                        <mat-card-header>
                            <mat-card-title>Encrypted text</mat-card-title>
                        </mat-card-header>
                        <mat-card-content style="word-wrap: break-word;">
                            <div id="target-div"></div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-6 remove-right-marigns">

                </div>
            </div>

            <br />
            <div class="row">
                <div class="">
                    <mat-card id="simulation" class="action-mat-card">
                        <mat-card-header>
                            <mat-card-title>Decryption:</mat-card-title>
                        </mat-card-header>
                        You can select the symbols of your encrypted text by clicking on these symbols:
                        <br>
                        <mat-card-content style="word-wrap: break-word;">
                            <button class="decrypt-button" value="A" (click)="deCrypt('A')">
                                <img src="assets/symbols/futurama_symbols/a.png" alt="Button1">
                            </button>
                            <button class="decrypt-button" value="B" (click)="deCrypt('B')">
                                <img src="assets/symbols/futurama_symbols/b.png" alt="Button2">
                            </button>
                            <button class="decrypt-button" value="C" (click)="deCrypt('C')">
                                <img src="assets/symbols/futurama_symbols/c.png" alt="Button3">
                            </button>
                            <button class="decrypt-button" value="D" (click)="deCrypt('D')">
                                <img src="assets/symbols/futurama_symbols/d.png" alt="Button4">
                            </button>
                            <button class="decrypt-button" value="E" (click)="deCrypt('E')">
                                <img src="assets/symbols/futurama_symbols/e.png" alt="Button5">
                            </button>
                            <button class="decrypt-button" value="F" (click)="deCrypt('F')">
                                <img src="assets/symbols/futurama_symbols/f.png" alt="Button6">
                            </button>
                            <button class="decrypt-button" value="G" (click)="deCrypt('G')">
                                <img src="assets/symbols/futurama_symbols/g.png" alt="Button7">
                            </button>
                            <button class="decrypt-button" value="H" (click)="deCrypt('H')">
                                <img src="assets/symbols/futurama_symbols/h.png" alt="Button8">
                            </button>
                            <button class="decrypt-button" value="I" (click)="deCrypt('I')">
                                <img src="assets/symbols/futurama_symbols/i.png" alt="Button9">
                            </button>
                            <button class="decrypt-button" value="J" (click)="deCrypt('J')">
                                <img src="assets/symbols/futurama_symbols/j.png" alt="Button10">
                            </button>
                            <button class="decrypt-button" value="K" (click)="deCrypt('K')">
                                <img src="assets/symbols/futurama_symbols/k.png" alt="Button11">
                            </button>
                            <button class="decrypt-button" value="L" (click)="deCrypt('L')">
                                <img src="assets/symbols/futurama_symbols/l.png" alt="Button12">
                            </button>
                            <button class="decrypt-button" value="M" (click)="deCrypt('M')">
                                <img src="assets/symbols/futurama_symbols/m.png" alt="Button13">
                            </button>
                            <button class="decrypt-button" value="N" (click)="deCrypt('N')">
                                <img src="assets/symbols/futurama_symbols/n.png" alt="Button14">
                            </button>
                            <button class="decrypt-button" value="O" (click)="deCrypt('O')">
                                <img src="assets/symbols/futurama_symbols/o.png" alt="Button15">
                            </button>
                            <button class="decrypt-button" value="P" (click)="deCrypt('P')">
                                <img src="assets/symbols/futurama_symbols/p.png" alt="Button16">
                            </button>
                            <button class="decrypt-button" value="Q" (click)="deCrypt('Q')">
                                <img src="assets/symbols/futurama_symbols/q.png" alt="Button17">
                            </button>
                            <button class="decrypt-button" value="R" (click)="deCrypt('R')">
                                <img src="assets/symbols/futurama_symbols/r.png" alt="Button18">
                            </button>
                            <button class="decrypt-button" value="S" (click)="deCrypt('S')">
                                <img src="assets/symbols/futurama_symbols/s.png" alt="Button19">
                            </button>
                            <button class="decrypt-button" value="T" (click)="deCrypt('T')">
                                <img src="assets/symbols/futurama_symbols/t.png" alt="Button20">
                            </button>
                            <button class="decrypt-button" value="U" (click)="deCrypt('U')">
                                <img src="assets/symbols/futurama_symbols/u.png" alt="Button21">
                            </button>
                            <button class="decrypt-button" value="V" (click)="deCrypt('V')">
                                <img src="assets/symbols/futurama_symbols/v.png" alt="Button22">
                            </button>
                            <button class="decrypt-button" value="W" (click)="deCrypt('W')">
                                <img src="assets/symbols/futurama_symbols/w.png" alt="Button23">
                            </button>
                            <button class="decrypt-button" value="X" (click)="deCrypt('X')">
                                <img src="assets/symbols/futurama_symbols/x.png" alt="Button24">
                            </button>
                            <button class="decrypt-button" value="Y" (click)="deCrypt('Y')">
                                <img src="assets/symbols/futurama_symbols/y.png" alt="Button25">
                            </button>
                            <button class="decrypt-button" value="Z" (click)="deCrypt('Z')">
                                <img src="assets/symbols/futurama_symbols/z.png" alt="Button26">
                            </button>
                            <button class="decrypt-button" value="0" (click)="deCrypt('0')">
                                <img src="assets/symbols/futurama_symbols/0.png" alt="Button28">
                            </button>
                            <button class="decrypt-button" value="1" (click)="deCrypt('1')">
                                <img src="assets/symbols/futurama_symbols/1.png" alt="Button29">
                            </button>
                            <button class="decrypt-button" value="2" (click)="deCrypt('2')">
                                <img src="assets/symbols/futurama_symbols/2.png" alt="Button30">
                            </button>
                            <button class="decrypt-button" value="3" (click)="deCrypt('3')">
                                <img src="assets/symbols/futurama_symbols/3.png" alt="Button31">
                            </button>
                            <button class="decrypt-button" value="4" (click)="deCrypt('4')">
                                <img src="assets/symbols/futurama_symbols/4.png" alt="Button32">
                            </button>
                            <button class="decrypt-button" value="5" (click)="deCrypt('5')">
                                <img src="assets/symbols/futurama_symbols/5.png" alt="Button33">
                            </button>
                            <button class="decrypt-button" value="6" (click)="deCrypt('6')">
                                <img src="assets/symbols/futurama_symbols/6.png" alt="Button34">
                            </button>
                            <button class="decrypt-button" value="7" (click)="deCrypt('7')">
                                <img src="assets/symbols/futurama_symbols/7.png" alt="Button35">
                            </button>
                            <button class="decrypt-button" value="8" (click)="deCrypt('8')">
                                <img src="assets/symbols/futurama_symbols/8.png" alt="Button36">
                            </button>
                            <button class="decrypt-button" value="9" (click)="deCrypt('9')">
                                <img src="assets/symbols/futurama_symbols/9.png" alt="Button37">
                            </button>
                            <button class="decrypt-button" value=";" (click)="deCrypt(';')">
                                <img src="assets/symbols/futurama_symbols/semicolon.png" alt="Button37">
                            </button>
                            <button class="decrypt-button" value=":" (click)="deCrypt(':')">
                                <img src="assets/symbols/futurama_symbols/double_dot.png" alt="Button37">
                            </button>
                            <button class="decrypt-button" value="." (click)="deCrypt('.')">
                                <img src="assets/symbols/futurama_symbols/dot.png" alt="Button37">
                            </button>
                            <button class="decrypt-button" value="-" (click)="deCrypt('-')">
                                <img src="assets/symbols/futurama_symbols/dash.png" alt="Button37">
                            </button>
                            <button class="decrypt-button" value="'" (click)="deCrypt('\'')">
                                <img src="assets/symbols/futurama_symbols/line.png" alt="Button37">
                            </button>
                            <button class="decrypt-button" value="!" (click)="deCrypt('!')">
                                <img src="assets/symbols/futurama_symbols/4dots.png" alt="Button37">
                            </button>
                            <button class="btn btn-sm btn-action" (click)="erase()">
                                delete
                            </button>

                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="">
                    <mat-card class="computed-mat-card">
                        <mat-card-header>
                            <mat-card-title>Decrypted text</mat-card-title>
                        </mat-card-header>
                        <mat-card-content style="word-wrap: break-word;">
                            <div id="target-div-2"></div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>


            <br />


        </div>
    </div>
    <br />
    <br />
</app-side-navbar>
