a {
  color: inherit;
  padding: 4px 6px;
}

li {
  list-style: none;
  width: fit-content;
  margin: 0;
} 

.icon-wrapper {
  width: 16px;

  .icon {
    width: 100%;
  }
}

.cipher {
  transition: background-color .3s;

  &:hover {
    background-color: #0454a518;
  }
}

.clicklable {
  padding: 4px 6px;
  display: inline-block;
  cursor: pointer;
}


.hasChildren {
  & > ul {
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
  }

  &.active > ul {
    max-height: 1000px;
  }

  .icon svg {
    transform-origin: center;
    transform: rotate(-90deg);
    transition: transform 0.1s;
    display: inline-block;
  }

  &.active > .root .icon svg {
    transform: rotate(0deg);
  }
}
