.mat-accordion .mat-expansion-panel-header {
  padding: 0 0 4px 0 !important;
}

.mat-accordion .mat-expansion-panel {
  padding: 0.25rem 1.5rem;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}
.mat-expansion-panel-body > li > a:hover {
  background-color: #6a959d !important;
}

.caret {
  padding-left: 6px;
  aspect-ratio: 1;
  width: 1.25rem;
}

.mat-expansion-panel .mat-expansion-panel-header {
  background: #2c3e50 !important;
}

