<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle [style]="style">
        <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'" [style]="headerStyle">
            <div class="accordion-item">{{title}}</div>
            <img src="assets/icons/caret_down_fill.svg" class="caret" />
        </mat-expansion-panel-header>
        <ng-content> </ng-content>
    </mat-expansion-panel>
</mat-accordion>