.box {
  margin: 7px 0;
  padding: 8px;
}

mat-button-toggle-group {
  flex-wrap: wrap;
}

.mat-card {
  margin: 0;
}

.mat-card-content {
  font-size: 15px !important;
}

.text-left {
  text-align: start !important;
}
