/* You can add global styles to this file, and also import other style files */
@import "~katex/dist/katex.css";

html,
body {
  height: 100%;
  background-color: #e8e8e8;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
}

h1 {
  font-size: 1.75rem;

  @media (min-width: 500px) {
    font-size: 2rem;
  }

  @media (min-width: 700px) {
    font-size: 2.5rem;
  }
}

button:focus {
  outline: none;
}

.pointer {
  cursor: pointer;
}


.mode-down {
  top: 145px;
}

.card {
  margin-bottom: 3rem;

  p {
    font-size: 1rem;

    @media (min-width: 500px) {
      font-size: 1.25rem;
    }
  }
}

.card-small {
  margin-bottom: 0.5rem;
  padding: 1.5rem !important;

  &:hover {
    background-color: rgb(249, 249, 249);
  }

  p {
    font-size: 1rem !important;
  }
}

.jumbotron {
  background-color: #ffffff;
}

.description-text{
  padding: 0 20px;

  @media (min-width: 992px) {
    padding: 0 64px;
  }
}

#header {
  .mat-expansion-panel, .mat-expansion-panel-header, .mat-expansion-panel-content {
    font-size: inherit !important;
  }
}