.mat-header-cell {
  cursor: pointer;
  border: dotted 3px transparent;
}


.movable-td {
  vertical-align: top;
}

.strip-cell-filler {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  background: repeating-linear-gradient(
    60deg,
    #ab4439,
    #ab4439 10px,
    #b3847f 10px,
    #b3847f 20px
  );
}

.strip-cell {
  height: 24px;
}

.header-cell {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}


.cdk-drag-preview {
  box-sizing: border-box;
  padding: 0 15px;
  position: relative;
}

.cdk-drag-preview::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 5px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  color: transparent;
  position: relative;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 5px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  border: dashed 1px rgba(0, 0, 0, 0.4);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.grabbable {
  cursor: grab;
}

.divider-top{
    border-top: 2px dashed #000;
}