<table>
    <thead>
        <tr cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="displayMovableColumns"
            (cdkDropListDropped)="dropCol($event)">
            <th class="header-cell grabbable" *ngFor="let column of displayMovableColumns" cdkDrag>{{column.pos}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="movable-td" *ngFor="let column of displayMovableColumns; let i = index" cdkDragHandle>
                <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
                    class="example-list" (cdkDropListDropped)="dropRow($event, i)">

                    <ng-container *ngFor="let stripRow of column.rows; let rowI = index">
                        <ng-container *ngIf="stripRow; then renderCiphers; else renderFiller">
                        </ng-container>

                        <ng-template #renderFiller>
                            <div class="strip-cell strip-cell-filler grabbable" cdkDrag>
                            </div>
                        </ng-template>

                        <ng-template #renderCiphers>
                            <div class="grabbable" cdkDrag>
                                <div class="strip-cell" *ngFor="let cell of stripRow; let itemI = index" [ngClass]="{'divider-top':
                                  itemI === dividerTopIndex - rowI}">
                                    {{cell}}</div>
                            </div>
                        </ng-template>

                    </ng-container>
                </div>
            </td>
        </tr>
    </tbody>
</table>