<app-side-navbar [sideMenu]="sideMenu" class="d-block real-cipher">
  <div class="container">
    <mat-card id="intro" class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>I-RO-HA cipher</mat-card-title>
        <mat-card-subtitle class="subtitle d-flex align-items-center">
          <a routerLink="/cryptography/cipher-types/expansion-substitution-6">
            <strong>Category:</strong> Variant of Polybius square
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M160 64c0-8.8 7.2-16 16-16s16 7.2 16 16V200c0 10.3 6.6 19.5 16.4 22.8s20.6-.1 26.8-8.3c3-3.9 7.6-6.4 12.8-6.4c8.8 0 16 7.2 16 16c0 10.3 6.6 19.5 16.4 22.8s20.6-.1 26.8-8.3c3-3.9 7.6-6.4 12.8-6.4c7.8 0 14.3 5.6 15.7 13c1.6 8.2 7.3 15.1 15.1 18s16.7 1.6 23.3-3.6c2.7-2.1 6.1-3.4 9.9-3.4c8.8 0 16 7.2 16 16l0 16V392c0 39.8-32.2 72-72 72H272 212.3h-.9c-37.4 0-72.4-18.7-93.2-49.9L50.7 312.9c-4.9-7.4-2.9-17.3 4.4-22.2s17.3-2.9 22.2 4.4L116 353.2c5.9 8.8 16.8 12.7 26.9 9.7s17-12.4 17-23V320 64zM176 0c-35.3 0-64 28.7-64 64V261.7C91.2 238 55.5 232.8 28.5 250.7C-.9 270.4-8.9 310.1 10.8 339.5L78.3 440.8c29.7 44.5 79.6 71.2 133.1 71.2h.9H272h56c66.3 0 120-53.7 120-120V288l0-16c0-35.3-28.7-64-64-64c-4.5 0-8.8 .5-13 1.3c-11.7-15.4-30.2-25.3-51-25.3c-6.9 0-13.5 1.1-19.7 3.1C288.7 170.7 269.6 160 248 160c-2.7 0-5.4 .2-8 .5V64c0-35.3-28.7-64-64-64zm48 304c0-8.8-7.2-16-16-16s-16 7.2-16 16v96c0 8.8 7.2 16 16 16s16-7.2 16-16V304zm48-16c-8.8 0-16 7.2-16 16v96c0 8.8 7.2 16 16 16s16-7.2 16-16V304c0-8.8-7.2-16-16-16zm80 16c0-8.8-7.2-16-16-16s-16 7.2-16 16v96c0 8.8 7.2 16 16 16s16-7.2 16-16V304z"/></svg>
          </a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div>
          Uesugi Kenshin was a Japanese daimyo in the 16th century, which
          employed Polybius square to encipher the messages during his military
          campaigns.
        </div>
        <br />
        <div>
          The I-ro-ha represents a short Japanese poem, which could be named as
          a pangram, as it contains every syllable from Kana alphabet.
        </div>
        <br />
        <div>
          However, this type of encryption wasn't efficient, as it didn't employ
          any diacritics (て、で、は、ば、ぱ as in te, de, ha, ba, pa), which
          upon deciphering could create a gibberish or different word. One way
          to decipher was to avoid such words. Other method was to rephrase
          messages multiple times to get the correct one.
        </div>
        <br />
        <div>
          Since the Iroha cipher is a simple substitution cipher, the
          probability of guessing the correct character is equal to the
          probability of picking the correct row and column. The Iroha Polybius
          square has 7 rows and 7 columns, so the probability of correctly
          guessing a character is:
        </div>
        <h5><ng-katex [equation]="equation"></ng-katex></h5>

        <mat-card-header>
          <mat-card-title>References:</mat-card-title>
        </mat-card-header>
        <mat-card-content style="word-wrap: break-word">
          <div>
            Ravi, S., Knight, K. (2009). Probabilistic Methods for a Japanese
            Syllable cipher
          </div>
        </mat-card-content>
      </mat-card-content>
    </mat-card>

    <mat-card id="description" class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Guide to encryption and decryption</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div>
          Below is an example of I-ro-ha cipher shown as Polybius square using
          Hiragana writing:
        </div>
        <br />
        <div>
          <table>
            <tr>
              <td></td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
            </tr>
            <tr>
              <td>1</td>
              <td>い</td>
              <td>ろ</td>
              <td>は</td>
              <td>に</td>
              <td>ほ</td>
              <td>へ</td>
              <td>と</td>
            </tr>
            <tr>
              <td>2</td>
              <td>ち</td>
              <td>り</td>
              <td>ぬ</td>
              <td>る</td>
              <td>を</td>
              <td>わ</td>
              <td>か</td>
            </tr>
            <tr>
              <td>3</td>
              <td>よ</td>
              <td>た</td>
              <td>れ</td>
              <td>そ</td>
              <td>つ</td>
              <td>ね</td>
              <td>な</td>
            </tr>
            <tr>
              <td>4</td>
              <td>ら</td>
              <td>む</td>
              <td>う</td>
              <td>ゐ</td>
              <td>の</td>
              <td>お</td>
              <td>く</td>
            </tr>
            <tr>
              <td>5</td>
              <td>や</td>
              <td>ま</td>
              <td>け</td>
              <td>ふ</td>
              <td>こ</td>
              <td>え</td>
              <td>て</td>
            </tr>
            <tr>
              <td>6</td>
              <td>あ</td>
              <td>さ</td>
              <td>き</td>
              <td>ゆ</td>
              <td>め</td>
              <td>み</td>
              <td>し</td>
            </tr>
            <tr>
              <td>7</td>
              <td>ゑ</td>
              <td>ひ</td>
              <td>も</td>
              <td>せ</td>
              <td>す</td>
              <td>ん</td>
              <td></td>
            </tr>
          </table>
        </div>
        <br />
        <div>
          -To encrypt a message from the input, user writes a text without
          spaces based on the table shown above, and uses button "Encrypt the
          text using I-RO-HA cipher"
        </div>
        <br />
        <div>
          -"Check the output using I-RO-HA cipher" button allows us to check, if
          the message encrypted before is the same as the original.
        </div>
        <br />
        <div>
          -To decrypt a message from the input, the user writes a sequence of
          two-digit numbers without spaces, and uses button "Decrypt the text
          using I-RO-HA cipher"
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card id="inputs" class="col-md-12 action-mat-card">
      <mat-card-header>
        <mat-card-title>Input setup</mat-card-title>
      </mat-card-header>

      <mat-card-content style="word-wrap: break-word">
        <form [formGroup]="irohaInputsForm">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Here is plaintext"
              name="irohakey"
              formControlName="irohakey"
            />
            <mat-hint>Plaintext must not be empty </mat-hint>
          </mat-form-field>
          <br />
          <br />
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-sm btn-action" (click)="irohaEncrypt()">
          Encrypt the text using I-RO-HA cipher
        </button>
        <button class="btn btn-sm btn-action" (click)="irohaDecrypt()">
          Decrypt the text using I-RO-HA cipher
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="col-md-12 computed-mat-card" *ngIf="endec">
      <mat-card-header>
        <mat-card-title>Encrypted text</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <p>
          {{ encryptedText }}
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="col-md-12 computed-mat-card" *ngIf="!endec">
      <mat-card-header>
        <mat-card-title>Decrypted text</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <p>
          {{ decryptedText }}
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card id="step-by-step" class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Step-by-step showcase</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div>
          <button class="btn btn-sm btn-action" (click)="toggleTable()">
            Show more/less
          </button>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Input</th>
                <th scope="col">Output</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let step of currentTableData">
                <td>{{ step.input }}</td>
                <td>{{ step.output }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</app-side-navbar>
