tr > td{
    border-bottom: 1px solid #c2c2c2;
}

tr > td:hover{
    background-color: #b9b9b9;
}

button{
  margin-left: 1em;
  margin-right: 1em;
}

.table-header {
    width: 90%;
    margin: auto;
    text-align: right;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .button-add-row {
    background: #1b9e1b;
    color: #ffffff;
  }
  
  
  .button-remove {
    color: red;
  }
