<app-side-navbar [sideMenu]="sideMenu" class="d-block">
  <div class="container">
    <mat-card class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Description of the cipher</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div>
          Scytale is simple table transposition cipher based on a Ancient Greek
          tool used to perform a transposition cipher, consisting of a cylinder
          with a strip of parchment wound around it on which is written a
          message. Here you can simulate creation of such cipher using its
          digital representation.
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card id="inputs" class="col-md-12 action-mat-card">
      <mat-card-header>
        <mat-card-title>Input setup</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <form [formGroup]="cipherInputsForm">
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="Block Size (blockSize)"
              name="columnsInput"
              formControlName="blockSize"
            />
            <mat-hint
              >Block length must be in the range {{ minBlockSize }} -
              {{ maxBlockSize }}.
            </mat-hint>
            <mat-error
              *ngIf="
                cipherInputsForm.get('blockSize').hasError('max') ||
                cipherInputsForm.get('blockSize').hasError('min')
              "
            >
              Block length must be in the range {{ minBlockSize }} -
              {{ minBlockSize }}.
            </mat-error>
          </mat-form-field>
          <br />
          <br />

          <mat-form-field style="width: 90%">
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="9"
              placeholder="Plain text"
              name="messageInput"
              formControlName="message"
            ></textarea>
            <mat-hint
              >The text must be written in the range {{ minMessageLength }} -
              {{ maxMessageLength }} letters and must contain only letters a-z
              or A-Z.
            </mat-hint>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('minlength')"
            >
              Please, enter message longer than {{ minMessageLength }} letters.
            </mat-error>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('maxlength')"
            >
              Please, enter message shorter than {{ maxMessageLength }} letters.
            </mat-error>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('pattern')"
            >
              The text can contain only letters a-z or A-Z.
            </mat-error>
          </mat-form-field>
          <p>
            <br />
            To remove accents and punctuation from the text, please use the
            <a
              href="https://manulab.hcportal.eu/example/index.html"
              target="_blank"
              >ManuLab online</a
            >
            tool.
          </p>
          <mat-checkbox color="primary" formControlName="shouldAddX"
            >Fill missing cells with X</mat-checkbox
          >
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-sm btn-action" (click)="createTableAndEncrypt()">
          Create Scytalé
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card
      id="table"
      class="col-md-12 computed-mat-card"
      [ngClass]="{ hide: !tableReady, show: tableReady }"
    >
      <mat-card-header>
        <mat-card-title>Created Scytalé</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-table
          class="col-md-4"
          [columnNames]="blockSizeToDisplay"
          [dataSource]="tableData"
          [ready]="tableReadySubject"
          [stickyColumns]="stickyColumns"
          [defaultSort]="'0'"
          [fullWidth]="true"
        ></app-table>
      </mat-card-content>
    </mat-card>

    <mat-card
      class="col-md-12 computed-mat-card"
      [ngClass]="{ hide: !tableReady, show: tableReady }"
    >
      <mat-card-header>
        <mat-card-title>Encrypted message</mat-card-title>
      </mat-card-header>
      <mat-card-content class="break-text">
        {{ encryptedMessage }}
      </mat-card-content>
    </mat-card>

    <mat-card id="findKey" class="info-mat-card col-md-12">
      <mat-card-header>
        <mat-card-title>Description of the attack </mat-card-title>
      </mat-card-header>
      <mat-card-content class="break-text">
        <p>
          First attack creates blocks of size 2 to N-1 (N being length of
          message) representing number of rows in the transposition table.
          Attack expects table's empty cells to be replaced with dummy
          characters filling the blocks to the same size. We calculate the
          result block, represented as a number of columns in transposition
          table, by dividing the length of encrypted message by number of rows.
          If a block divided by the the length of encrypted message results with
          a remainder then block is skipped.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card id="inputs" class="col-md-12 action-mat-card">
      <button class="btn btn-sm btn-action" (click)="guess()">Guess</button>
    </mat-card>

    <mat-card
      *ngIf="bestGuessResult"
      id="result"
      class="col-md-12 computed-mat-card"
      [ngClass]="{ hide: !calcDone, show: calcDone }"
    >
      <mat-card-header>
        <mat-card-title
          >The best block size and message candidate</mat-card-title
        >
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <mat-hint>Block size candidate: </mat-hint>
        {{ bestGuessResult.block }}
        <br />
        <p>
          <mat-hint>Best block size: </mat-hint>
          <b>
            {{ bestGuessResult.block }}
          </b>
        </p>
      </mat-card-content>

      <mat-card-content style="word-wrap: break-word">
        <mat-hint>Text (first 150 letters): </mat-hint>
        <br />
        <p>{{ bestGuessResult.decryptedText | slice : 0 : 150 }}</p>
        <h5>Score: {{ bestGuessResult.sum | number : "1.0-3" }}</h5>
        <p></p>
      </mat-card-content>
    </mat-card>

    <mat-card
      *ngIf="transpositionGuessResults"
      class="col-md-12 col-xs-12 computed-mat-card"
      id="results"
      [ngClass]="{ hide: !calcDone, show: calcDone }"
    >
      <mat-card-header>
        <mat-card-title> Evolution of the score </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          The following table contains some details of the best solving attempt.
          Each iteration repretantes block size guessed.
        </p>

        <p>
          Column named <b>sum</b> is the score calculated as a statistical
          distance of 2-gram frequencies of the decrypted text from reference
          values.
        </p>

        <br /><br />

        <app-table
          [columnNames]="columnsBestResults"
          [stickyColumns]="stickyColumns"
          [dataSource]="dataSourceBestResults"
          [defaultSort]="sortBestResults"
          [ready]="dataSourceBestResultsReady"
        >
        </app-table>
      </mat-card-content>
    </mat-card>

    <mat-card
      class="text-center col-md-12"
      [ngClass]="{ hide: calcDone, show: !calcDone }"
    >
      <mat-card-content>
        <h5>Please wait ... calculating ...</h5>
        <br />
        <mat-progress-spinner class="spinner" [mode]="'indeterminate'">
        </mat-progress-spinner>
      </mat-card-content>
    </mat-card>
  </div>
</app-side-navbar>
