<app-side-navbar [sideMenu]="sideMenu" class="d-block">
  <div class="container">
      <mat-card id="description" class="col-md-12 info-mat-card">
        <mat-card-header>
          <mat-card-title>Description of the cipher</mat-card-title>
        </mat-card-header>
        <mat-card-content style="word-wrap: break-word;">
          <div class="  ">
            The Vigenère autokey cipher is a polyalphabetic substitution cipher that uses a keyword to encrypt plaintext.
            The autokey feature uses a part of the plaintext itself as generator for the key which is used for encryption or
            decryption of the plaintext messages.
            <br>
            <br>
            Encryption is governed by the following equation.
            <br>
            <br>
            <h5><ng-katex [equation]="equation_ic3"></ng-katex></h5>
            <br>
            <br>
            The decryption is given by
            <br>
            <br>
            <h5><ng-katex [equation]="equation_ic4"></ng-katex></h5>
            <br>
            <br>
            Reference:
            <br>
            Grošek, O., Antal, E., & Fabšič, T. (2019). Remarks on breaking the Vigenère autokey cipher. Cryptologia, 43(6), 486–496. <u><a href="https://doi.org/10.1080/01611194.2019.1596997">https://doi.org/10.1080/01611194.2019.1596997</a></u>
            <br>
            <hr>
            Description of the simple Vigenère Cipher we can find <a href="/cryptanalysis/polyalphabetic-cipher">here</a>.
          </div>
        </mat-card-content>
      </mat-card>

      <br>

      <div class="col-md-12">
          <div class="row">
            <mat-card id="inputs" class="col-md-12 action-mat-card">
              <mat-card-header>
                <mat-card-title>Input setup</mat-card-title>
              </mat-card-header>

              <mat-card-content style="word-wrap: break-word;">
                <form [formGroup]="cipherInputsForm" >
                  <mat-form-field class="col-md-4">
                    <input
                      matInput
                      type="text"
                      placeholder="Keyword"
                      name="keyInput"
                      formControlName="key"
                      maxlength="15"
                    />
                    <mat-hint
                      >Must be in the range 2 to 15 letters and must contain only
                      letters a-z or A-Z.
                    </mat-hint>
                    <br />

                    <mat-error
                      *ngIf="
                        cipherInputsForm.get('key').hasError('maxlength') ||
                        cipherInputsForm.get('key').hasError('minlength')
                      "
                    >
                      Must be in the range 2 - 15 letters.
                    </mat-error>
                    <mat-error
                      *ngIf="cipherInputsForm.get('key').hasError('pattern')"
                    >
                      Must contains only letters a-z or A-Z.
                    </mat-error>
                  </mat-form-field>

                  <br />
                  <br />
                  <br />
                  <br />

                  <mat-form-field style="width: 90%;">
                    <textarea
                      matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="9"
                      placeholder="Plain text"
                      name="messageInput"
                      formControlName="message"
                      maxlength="2000"
                    ></textarea>
                    <mat-hint
                      >The text must be written in English language, in the range 20 - 2000 letters and must
                      contain only letters a-z or A-Z.
                    </mat-hint>
                    <mat-error
                      *ngIf="cipherInputsForm.get('message').hasError('minlength')"
                    >
                      Please, enter message longer than 20 letters.
                    </mat-error>
                    <mat-error
                      *ngIf="cipherInputsForm.get('message').hasError('maxlength')"
                    >
                      Please, enter message shorter than 2000 letters.
                    </mat-error>
                    <mat-error
                      *ngIf="cipherInputsForm.get('message').hasError('pattern')"
                    >
                      The text can contains only letters a-z or A-Z.
                    </mat-error>
                  </mat-form-field>
                  <p>
                    <br>
                    To remove accents and punctuation from the text, please use the
                    <a
                      href="https://manulab.hcportal.eu/example/index.html"
                      target="_blank"
                      >ManuLab online</a
                    > tool.
                  </p>
                </form>
              </mat-card-content>

              <mat-card-actions>
                <button
                  (click)="runEncryptAndTransform()"
                  [disabled]="!cipherInputsForm.valid"
                  class="btn btn-sm btn-action"
                  color="primary"
                  type="submit"
                >
                  Encrypt the text & run the attack
                </button></mat-card-actions
              >
            </mat-card>
          </div>

          <br>

          <div class="row">
            <div class="col-md-12 remove-left-marigns">
              <mat-card id="enc_text" class="computed-mat-card">
                <mat-card-header>
                  <mat-card-title>Encrypted text</mat-card-title>
                </mat-card-header>
                <mat-card-content style="word-wrap: break-word;">
                  {{encrypted_text}}
                </mat-card-content>
              </mat-card>
            </div>
          </div>
      </div>
        <br>

        <mat-card id="transformation_description" class="col-md-12 info-mat-card">
          <mat-card-header>
            <mat-card-title>Transformation of the Autokey cipher text into Vigenère</mat-card-title>
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word;">
            <div class="  ">
              Decryption of Vigenère Autokey Cipher with the key being unknown is difficult task to complete. Claude Shannon observed connection of
              Autokey Cipher and Vigenère Cipher (simple).
              <br>
              <br>
              Suppose that <ng-katex [equation]="equation_yi"></ng-katex> is a ciphertext obtained from a
              plaintext <ng-katex [equation]="equation_xi"></ng-katex> by using the Vigenère Autokey Cipher
              with a priming key <ng-katex [equation]="equation_ki"></ng-katex>.
              <br>
              Let us consider a new ciphertext <ng-katex [equation]="equation_Yi"></ng-katex>
              obtained from <ng-katex [equation]="equation_yi"></ng-katex> as:
              <br>
              <br>
              <h5><ng-katex [equation]="equation_ic5"></ng-katex></h5>
              <br>
              <br>
              The new ciphertext <ng-katex [equation]="equation_Yi"></ng-katex>  is actually identical to the ciphertext
              that we would obtain by encrypting the plaintext <ng-katex [equation]="equation_xi"></ng-katex>
              by the Vigenère Cipher with the key <ng-katex [equation]="equation_ki_long"></ng-katex>.
              <br>
              <br>
              This process transforms the Autokey Cipher encrypted text with key of length <b>r</b> into a Vigenère Cipher encrypted text with a key length of <b>2r</b>.
              <br>
              <br>
              Reference:
              <br>
              Grošek, O., Antal, E., & Fabšič, T. (2019). Remarks on breaking the Vigenère autokey cipher. Cryptologia, 43(6), 486–496. <u><a href="https://doi.org/10.1080/01611194.2019.1596997">https://doi.org/10.1080/01611194.2019.1596997</a></u>
              <br>
              <hr>
              The transformation in the equation requires that the length of the priming key is known. However, we can
              combine the transformation with the Friedman test to reveal the length of the priming key.
            </div>
          </mat-card-content>
          <div class="col" >


          </div>
        </mat-card>

        <br>


        <div  class="col-md-12">
          <div class="row">
            <mat-card id="friedman_test" class="col-md-12 info-mat-card">
              <mat-card-header>
                <mat-card-title>Friedman test</mat-card-title>
              </mat-card-header>
              <mat-card-content style="word-wrap: break-word;">
                  The Friedman test is a well-known method for determining the length of the key in the Vigenère cipher,
                  and is based on the notion of the index of coincidence.
                  <p>
                    <b>Index of coincidence (IC)</b> is based on the letter
                    frequencies. It reflects the accuracy that two texts
                    (chosen randomly) will be the same.
                  </p>
                  We compute IC with the equation:
                  <h5><ng-katex [equation]="equation_ic1"></ng-katex>,</h5>
                  <p>
                    where N is the length of text, n<sub>i</sub> is the
                    occurrence (absolute frequency) of the letter i.
                  </p>
                If the text is long, it can be approximated as:
                  <h5><ng-katex [equation]="equation_ic2"></ng-katex>,</h5>
                  <p>
                    where n<sub>i</sub> is the
                    relative frequency of letter i.
                  </p>

                <p>
                If the text is written in English, then we expect the value of IC to be close to 0.065.
                If the text was generated randomly, then the expected value of IC would be 0.038.
                </p>

                <p>
                  An English text encrypted by the Vigenère cipher with the key of length r,
                  can be divided into r cosets where each coset contains letters shifted by the same Caesar shift.
                  Therefore, the value of IC of each coset is expected to be close to 0.065.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

      <br>
      <mat-card id="dividing_into_cosets" class="col-md-12 computed-mat-card">
        <mat-card-header>
          <mat-card-title>Dividing the cipher text into cosets</mat-card-title>
        </mat-card-header>
        <mat-card-content style="word-wrap: break-word;">
          <div class="col-md-12">
            <div class="alert computed-box" role="alert">
              <span>The most probable key lengths: </span>
              <ol>
                <li *ngFor="let index of highestIC">
                  <span>Length of {{ index.coset_id }} </span>
                  <span>with IC {{ index.value | number: "1.0-4" }}</span>
                </li>
              </ol>
            </div>
          </div>
          <br />
          <!---->
          <app-vigenere-boxes-component
            [allBoxesAvgIc]="allCosetsAvgIc"
            [ic]="IC"
            [allBoxes]="allCosets"
            [allBoxesIc]="allCosetsIc"
            [transformations]="all_tranformation"
            [selectedValue]="''+highestICValue"
            [selectedValueNum]="highestICValue"
            [toggleOptions]="toggleOptions"
          ></app-vigenere-boxes-component>
        </mat-card-content>
      </mat-card>

      <br>

      <mat-card id="description_of_the_attack" class="col-md-12 info-mat-card">
        <mat-card-header>
          <mat-card-title>Description of the attack</mat-card-title>
        </mat-card-header>
        <mat-card-content style="word-wrap: break-word;">
          <div class="  ">
            <p>
              The key length <strong>k</strong> (k is case of the Autokey, 2k after the transformation into Vigenere) is guessed by the Friedman test, and the transformed
              Vigenère text can be separated into <strong>2k</strong> cosets. Each coset is encrypted by a specific Caesar shift.

              For each coset:
              <ul>
                <li>All possible Caesar shifts are generated (brute-force).</li>
                <li>The coset are decrypted with each Caesar key and its score is evaluated.</li>
                <li>The correct Caesar shift should produce a text with the closest frequencies
                  to the reference values (calculated from a large English corpus).</li>
              </ul>


              <p>
                We calculate the <b>frequency</b> of letters by counting the
                occurrence of every letter in the corresponding coset.
                Converting the absolute frequencies into relative ones helps to compare the letter frequencies independently of the text length.
              </p>

              <p>
                For each coset the computer will calculate the <b>statistical distance</b> of letter
                frequencies of the decrypted text from reference values.
              </p>
              <h5><ng-katex [equation]="equation_score"></ng-katex>,</h5>
              <p>
                where m<sub>i</sub> is the
                measured frequency of letter i and r<sub>i</sub> is the reference one.

              </p>
            <br>
            Reference:
            <br>
            Grošek, O., Antal, E., & Fabšič, T. (2019). Remarks on breaking the Vigenère autokey cipher. Cryptologia, 43(6), 486–496. <u><a href="https://doi.org/10.1080/01611194.2019.1596997">https://doi.org/10.1080/01611194.2019.1596997</a></u>
            <br>
          </div>
        </mat-card-content>
      </mat-card>

      <br>

      <div class="col-md-12">
        <div class="row">
        <mat-card id="results_table" class="col-md-12 computed-mat-card">
          <mat-card-header>
            <mat-card-title>Checking the result</mat-card-title>
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word;">
            <div class="col-md-12">

              Most probable Vigenère Cipher key (length 2r) computed with dot-product of Caesar shifting.

              <br />
              <br />
              <div>
                <app-table
                  [ngClass]="{ hide: !transformationCompleted, show: transformationCompleted }"
                  [columnNames]="columnsBestResults"
                  [stickyColumns]="stickyColumns"
                  [dataSource]="dataSourceBestResults"
                  [defaultSort]="sortBestResults"
                  [ready]="dataSourceBestResultsReady"
                >
                </app-table>

                <div
                  [ngClass]="{ hide: transformationCompleted, show: !transformationCompleted }"
                  class="text-center"
                >
                  <h5>Please wait ... calculating ...</h5>
                  <br />
                  <mat-progress-spinner
                    class="spinner"
                    [mode]="'indeterminate'"
                  >
                  </mat-progress-spinner>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
      <br>

      <mat-card id="decrypted_result" class="col-md-12 computed-mat-card">
        <mat-card-header>
          <mat-card-title>Decrypted result</mat-card-title>
        </mat-card-header>
        <mat-card-content style="word-wrap: break-word;">
          <div class="  ">
            <p> {{decrypted_text}} </p>
          </div>
        </mat-card-content>
      </mat-card>

  </div>
