.btn-side-navbar {
  background-color: #fefefe;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 14px;
}

.mat-drawer-container {
  background-color: transparent;
}

.side-nav {
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding-left: 0;

  /* position: sticky; */
  float: left;
  /* top: 21vh !important; */
}

.fixed {
  position: fixed;
  width: auto;
  height: auto;
}

.mode-down {
  /* top: 183px; */
  display: flex;
  flex-direction: row;
}

ol {
  list-style: none;
  counter-reset: my-awesom e-counter;
  padding: 0;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li:active {
  background-color: #d1d1d1;
}

ol li:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.btn-side-navbar {
  display: flex;
  align-items: center;
}


.active {
  background-color: #d1d1d1;
}

ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: white;
  border-radius: 2rem;
  background: #2c3e50;
  font-weight: bold;
  padding: 0.3rem;
  padding-left: 0.55rem;
  padding-right: 0.55rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 992px) {
  .side-nav {
    position: relative;
    top: 0 !important;
  }

  .mode-down {
    display: flex;
    flex-direction: column;

  }

  .content {
    margin-top: 0 !important;
  }

  .remove-left-margin {
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .btn-side-navbar {
    padding: 2px;
    margin-bottom: 3px;
  }
  
}
