<app-side-navbar [sideMenu]="sideMenu" class="d-block real-cipher">
  <div class="container">
    <mat-card id="intro" class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>JN-25 cipher Introduction</mat-card-title>
        <mat-card-subtitle class="subtitle d-flex align-items-center">
          <a routerLink="/cryptography/cipher-types/composed-cipher-13">
            <strong>Category:</strong> Composed cipher
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M160 64c0-8.8 7.2-16 16-16s16 7.2 16 16V200c0 10.3 6.6 19.5 16.4 22.8s20.6-.1 26.8-8.3c3-3.9 7.6-6.4 12.8-6.4c8.8 0 16 7.2 16 16c0 10.3 6.6 19.5 16.4 22.8s20.6-.1 26.8-8.3c3-3.9 7.6-6.4 12.8-6.4c7.8 0 14.3 5.6 15.7 13c1.6 8.2 7.3 15.1 15.1 18s16.7 1.6 23.3-3.6c2.7-2.1 6.1-3.4 9.9-3.4c8.8 0 16 7.2 16 16l0 16V392c0 39.8-32.2 72-72 72H272 212.3h-.9c-37.4 0-72.4-18.7-93.2-49.9L50.7 312.9c-4.9-7.4-2.9-17.3 4.4-22.2s17.3-2.9 22.2 4.4L116 353.2c5.9 8.8 16.8 12.7 26.9 9.7s17-12.4 17-23V320 64zM176 0c-35.3 0-64 28.7-64 64V261.7C91.2 238 55.5 232.8 28.5 250.7C-.9 270.4-8.9 310.1 10.8 339.5L78.3 440.8c29.7 44.5 79.6 71.2 133.1 71.2h.9H272h56c66.3 0 120-53.7 120-120V288l0-16c0-35.3-28.7-64-64-64c-4.5 0-8.8 .5-13 1.3c-11.7-15.4-30.2-25.3-51-25.3c-6.9 0-13.5 1.1-19.7 3.1C288.7 170.7 269.6 160 248 160c-2.7 0-5.4 .2-8 .5V64c0-35.3-28.7-64-64-64zm48 304c0-8.8-7.2-16-16-16s-16 7.2-16 16v96c0 8.8 7.2 16 16 16s16-7.2 16-16V304zm48-16c-8.8 0-16 7.2-16 16v96c0 8.8 7.2 16 16 16s16-7.2 16-16V304c0-8.8-7.2-16-16-16zm80 16c0-8.8-7.2-16-16-16s-16 7.2-16 16v96c0 8.8 7.2 16 16 16s16-7.2 16-16V304z"/></svg>
          </a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div>
          JN-25, or "Japanese Navy 25," was a Japanese naval code used during
          World War II, primarily for communication between the Imperial
          Japanese Navy and its fleet. It was an essential component of Japan's
          encrypted communication system and played a significant role in the
          Pacific theater of the war.
        </div>
        <br />
        <div>
          JN-25 was a two-part code system consisting of an additive component
          and a codebook. The additive component was a series of random numbers
          used to mask the original message, while the codebook contained a list
          of five-digit numbers, each corresponding to a specific word, phrase,
          or character.
        </div>
        <br />
        <div>
          Throughout the war, JN-25 underwent several changes and updates in an
          attempt to maintain the security of Japanese communications. However,
          Allied codebreakers, notably from the United States, the Netherlands
          and the United Kingdom, were able to crack JN-25 at various points in
          the conflict. This enabled the Allies to gain valuable intelligence,
          which was pivotal to several significant events, such as the Battle of
          Midway in June 1942. The decryption of JN-25 contributed to the
          eventual Allied victory in the Pacific theater.
        </div>
        <br />
        <br />
        <div>
          When trying to decrypt a single character, the user would have to
          guess both the correct character from the codebook and the correct
          additive number. The probability of guessing the correct character is
          1/N, and the probability of guessing the correct additive number is
          1/M. Since the character and the additive number must be guessed
          independently and correctly, the probability of successfully
          decrypting a single character of the cipher is the product of the
          probabilities of guessing the character and the additive number.
          Mathematically, this is expressed as:

          <h5><ng-katex [equation]="equation"></ng-katex></h5>

          <br />
          References:
          <br />
          https://www.ibiblio.org/hyperwar/PTO/Magic/JN-25/JN-25.1.html
          <br />
          Mack, John. (2014). Code Breaking in the Pacific.
          10.1007/978-3-319-08278-3.
          <br />
          Hinsley, F. H., Codebreakers (1993).
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card id="inputs" class="col-md-12 action-mat-card">
      <mat-card-header>
        <mat-card-title>Input setup</mat-card-title>
      </mat-card-header>
      <div *ngIf="language">
        <span>Currently using English version.</span>
      </div>

      <div *ngIf="!language">
        <span>Currently using Japanese version.</span>
      </div>

      <button class="button-add-row" mat-button (click)="switchLanguage()">
        Switch language
      </button>

      <mat-card-content style="word-wrap: break-word"> </mat-card-content>
    </mat-card>

    <mat-card id="description" class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title
          >Step-by-step guide how to use the cipher for encryption and
          decryption</mat-card-title
        >
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div>
          1. Initially, the input should contain the plaintext written without
          spaces or capital letters. Next, the corresponding words or phrases
          are recorded in the keys table, with longer phrases listed first,
          followed by shorter phrases or characters.
        </div>
        <br />
        <div>
          2. The user has the option to automatically generate values for each
          key or enter them manually. The same choice applies to the additive.
        </div>
        <br />
        <div>
          3. By pressing the Encrypt button, the user can simulate the
          encryption and decryption process using the parameters specified
          earlier.
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card id="inputs" class="col-md-12 action-mat-card">
      <mat-card-header>
        <mat-card-title>Input setup</mat-card-title>
      </mat-card-header>

      <mat-card-content style="word-wrap: break-word">
        <form [formGroup]="jn25InputsForm">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Plaintext"
              name="jn25input"
              formControlName="jn25input"
            />
            <mat-hint
              >Plaintext must not be empty. If the plaintext includes a
              character not included in the key (codebook), it will be ignored
              during the encryption process.</mat-hint
            >
          </mat-form-field>
          <br />
          <br />

          <article>
            <article class="table-header">
              <br />
              <br />

              <button class="button-add-row" mat-button (click)="addRow()">
                Add Row
              </button>
              <button
                class="button-add-row"
                mat-button
                (click)="generateNumber()"
              >
                Generate values
              </button>
              <button
                class="button-add-row"
                mat-button
                (click)="generateAddittive()"
              >
                Generate addittives
              </button>
            </article>

            <div style="height: 50vh; overflow: auto">
              <table mat-table [dataSource]="dataSource">
                <ng-container
                  [matColumnDef]="col.key"
                  *ngFor="let col of columnsSchema"
                >
                  <th mat-header-cell *matHeaderCellDef>
                    {{ col.label }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                      <div class="btn-edit" *ngSwitchCase="'isEdit'">
                        <button
                          mat-button
                          (click)="element.isEdit = !element.isEdit"
                        >
                          Edit
                        </button>

                        <button
                          mat-button
                          class="button-remove"
                          (click)="removeRow(element.id)"
                        >
                          Delete
                        </button>
                      </div>
                      <span *ngSwitchDefault>
                        {{ element[col.key] }}
                      </span>
                    </div>
                    <div *ngIf="element.isEdit">
                      <div
                        class="btn-edit"
                        *ngIf="col.key === 'isEdit'; else dataField"
                      >
                        <button
                          mat-button
                          (click)="element.isEdit = !element.isEdit"
                        >
                          Done
                        </button>
                      </div>
                      <ng-template #dataField>
                        <mat-form-field>
                          <input
                            [type]="col.type"
                            matInput
                            [(ngModel)]="element[col.key]"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </mat-form-field>
                      </ng-template>
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
            </div>
          </article>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-sm btn-action" (click)="encryptJN25()">
          Encrypt the text using JN-25
        </button>
        <button class="btn btn-sm btn-action" (click)="decryptJN25()">
          Decrypt the enciphered output
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="col-md-12 computed-mat-card" *ngIf="endec">
      <mat-card-header>
        <mat-card-title>Encrypted text</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <p>
          {{ encryptedText }}
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="col-md-12 computed-mat-card" *ngIf="!endec">
      <mat-card-header>
        <mat-card-title>Decrypted text</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <p>
          {{ decryptedText }}
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card id="step-by-step" class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Step-by-step showcase</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div>
          <div *ngIf="endec">
            <span>Encryption</span>

            <button class="btn btn-sm btn-action" (click)="toggleTable()">
              Show more/less
            </button>

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Substitution</th>
                  <th scope="col">Added superencipher</th>
                  <th scope="col">Modulo</th>
                  <th scope="col">Result</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let step of currentTableData">
                  <td>{{ step.step1 }}</td>
                  <td>{{ step.step2 }}</td>
                  <td>{{ step.step3 }}</td>
                  <td>{{ step.result }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="!endec">
            <span>Decryption</span>

            <button class="btn btn-sm btn-action" (click)="toggleTable()">
              Show more/less
            </button>

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Encrypted</th>
                  <th scope="col">Remove addittive</th>
                  <th scope="col">Remove value</th>
                  <th scope="col">Substitution</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let step of currentTableData">
                  <td>{{ step.step1 }}</td>
                  <td>{{ step.step2 }}</td>
                  <td>{{ step.step3 }}</td>
                  <td>{{ step.result }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</app-side-navbar>
