.content {
  min-height: calc(100vh - 4.5rem - 8rem);
}

.mat-drawer-content {
  overflow: unset !important;
}

.center-toogle-group {
  margin: auto;
}

table {
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.remove-left-marigns {
  margin-left: 0;
  padding-left: 0;
}

.remove-right-marigns {
  margin-right: 0;
  padding-right: 0;
}

.text-center {
  text-align: center;
}

.spinner {
  display: inline-block;
}

.mat-card {
  margin: 2rem 0;
}

.mat-card-content {
  font-size: 15px !important;
}

.info-mat-card {
  /* border-left: 6px solid #4e824e; */
  border-left: 6px solid #2b813e;
  background-color: #c3ffc340;
}

.action-mat-card {
  border-left: 6px solid #ab4439;

}

.computed-mat-card {
  /* border-left: 6px solid #303F73; */
  border-left: 6px solid #687bb9;
}

.computed-box {
  color: #3c4973;
  background-color: #687bb917;
  border-color: #687bb9;
}

.btn-action {
  color: #ab4439;
  border-color: #ab4439;
}

mat-button-toggle-group {
  border: none;
}

mat-button-toggle {
  background-color: rgba(219, 217, 217, 0.918);
  margin-top: 5px !important;
  padding: 0 5px !important;
  border-radius: 0.2rem;
}

mat-button-toggle:hover {
  background-color: #fff !important;
  border-radius: 5px !important;
}

.mat-button-toggle-checked {
  background-color: rgba(231, 231, 231, 0.788) !important;
  border: 2px solid #687bb9 !important;
}

.break-text {
  word-wrap: break-word;
}

@media screen and (max-width: 992px) {
  .remove-left-marigns {
    padding-right: 0;
  }
  .remove-right-marigns {
    padding-left: 0;
    margin-top: 2vh;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 47%;
  min-width: 210px;
  max-height: 400px 
}

.real-cipher .subtitle a {
  color: black;
}


