<app-side-navbar [sideMenu]="sideMenu"   class="d-block">
  <div class="container">
    <mat-card class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Description</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div class="">
          In 1555, when only “paper and pencil” ciphers were available, Giovan Battista Bellaso In 1555, when only
          “paper and pencil” ciphers were available, Giovan Battista Bellaso introduced a method that
          enables one to remember easily a long numerical password; to a colloquial passphrase of length <ng-katex
            [equation]="'n'"></ng-katex> a permutation on <ng-katex [equation]="'[n] = \\{1,2,\\dots,n\\}'"></ng-katex>
          is
          assigned. Formally, let <ng-katex [equation]="'\\{k^n\\}'"></ng-katex> be the set of all words of length
          <ng-katex [equation]="'n'"></ng-katex> on <ng-katex [equation]="'A_k'"></ng-katex>, an alphabet of <ng-katex
            [equation]="'k'"></ng-katex> linearly ordered symbols, and let <ng-katex [equation]="'\\{n!\\}'"></ng-katex>
          be the set of all permutations on the set <ng-katex [equation]="'[n]'"></ng-katex>. Then Bellaso's method can
          be described by a recursively defined mapping <ng-katex
            [equation]="'f : \\{k^n\\} \\rightarrow \\{n!\\}'"></ng-katex>. For a word <ng-katex
            [equation]="'w'"></ng-katex> and <ng-katex [equation]="'\\pi = f\\{w\\}'"></ng-katex>, we have:
        </div>
        <br>
        <ol>
          <li>Let <ng-katex [equation]="'s'"></ng-katex> be the smallest symbol in <ng-katex
              [equation]="'w'"></ng-katex>, and let the first, from the left, occurrence of <ng-katex
              [equation]="'w'"></ng-katex> in <ng-katex [equation]="'w'"></ng-katex> be in the i-th
            position
            of <ng-katex [equation]="'w'"></ng-katex>. Then we mark this occurrence of <ng-katex
              [equation]="'s'"></ng-katex> in <ng-katex [equation]="'w'"></ng-katex> and set <ng-katex
              [equation]="'\\pi(i) = 1'"></ng-katex>.</li>
          <li>Assume that already <ng-katex [equation]="'t \\geq 1'"></ng-katex> symbols in <ng-katex
              [equation]="'w'"></ng-katex> have been marked. Let <ng-katex [equation]="'s\''"></ng-katex>
            be the smallest unmarked symbol in <ng-katex [equation]="'w'"></ng-katex>,
            whose first (unmarked) occurrence from the left is in the i-th position. Then we mark the symbol <ng-katex
              [equation]="'s\''"></ng-katex> in the i-th position and set <ng-katex
              [equation]="'\\pi(i) = t + 1'"></ng-katex>.</li>
        </ol>
        <br />
        <i>Antal, Eugen & Grošek, Otokar & Horak, Peter. (2017). On a mnemonic construction of permutations. Journal of
          Mathematical Cryptology. 11. 10.1515/jmc-2016-0058.</i>
      </mat-card-content>
    </mat-card>

    <br />

    <div class="col-md-12">
      <div class="row">
        <mat-card id="inputs" class="col-md-12 action-mat-card">
          <mat-card-header>
            <mat-card-title>Input setup</mat-card-title>
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word">
            <form [formGroup]="cipherInputsForm">
              <mat-form-field style="width: 90%">
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="9" placeholder="Passphrase" name="phraseInput"
                  formControlName="phrase"></textarea>
                <mat-hint>The text must be written in the range {{minPhraseLength}} - {{maxPhraseLength}} letters and
                  must contain only letters a-z or A-Z.
                </mat-hint>
                <mat-error *ngIf="cipherInputsForm.get('phrase').hasError('minlength')">
                  Please, enter phrase longer than {{minMessageLength}} letters.
                </mat-error>
                <mat-error *ngIf="cipherInputsForm.get('phrase').hasError('maxlength')">
                  Please, enter phrase shorter than {{maxMessageLength}} letters.
                </mat-error>
                <mat-error *ngIf="cipherInputsForm.get('phrase').hasError('pattern')">
                  The text can contain only letters a-z or A-Z.
                </mat-error>
              </mat-form-field>
              <p>
                <br />
                To remove accents and punctuation from the text, please use the
                <a href="https://manulab.hcportal.eu/example/index.html" target="_blank">ManuLab online</a>
                tool.
              </p>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button class="btn btn-sm btn-action" (click)="getPermutationFromPhrase()">
              Get permutation from a phrase
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <br />

    <div class="col-md-12">
      <div class="row">
        <mat-card id="sortedPhrase" class="col-md-12 computed-mat-card"
          [ngClass]="{ hide: !sortedPhraseTableReady, show: sortedPhraseTableReady }">
          <mat-card-header>
            <mat-card-title>Sorted passphrase</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-table class="col-md-4" [columnNames]="phraseNumbers" [dataSource]="sortedPhraseTableData"
              [ready]="sortedPhraseTableReady" [defaultSort]="'0'" [fullWidth]="true"></app-table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <br />

    <div class="col-md-12">
      <div class="row">
        <mat-card id="stepByStep" class="col-md-12 info-mat-card"
          [ngClass]="{ hide: !permutationTableReady, show: permutationTableReady }">
          <mat-card-header>
            <mat-card-title>Step-by-step showcase</mat-card-title>
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Step</th>
                  <th scope="col">Phrase</th>
                  <th scope="col">Used letters</th>
                  <th scope="col">Available letters</th>
                  <th scope="col">Picked letter</th>
                  <th scope="col">Transformation</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let step of steps; index as i">
                  <td>{{ i + 1 }}</td>
                  <td>{{ phraseImmutable }}</td>
                  <td>{{ step.usedLetters }}</td>
                  <td>{{ step.availableLetters }}</td>
                  <td>{{ step.pickedLetter }}</td>
                  <td>{{ step.transformation }}</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <br />

    <div class="col-md-12">
      <div class="row">
        <mat-card id="createdPermutation" class="col-md-12 computed-mat-card"
          [ngClass]="{ hide: !permutationTableReady, show: permutationTableReady }">
          <mat-card-header>
            <mat-card-title>The resulting permutation</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="break-text">
              {{permutationString}}
            </div>

            <br />

            <app-table class="col-md-4" [columnNames]="permutation" [dataSource]="permutationTableData"
              [ready]="permutationTableReady" [defaultSort]="'0'" [fullWidth]="true"></app-table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <br />
</app-side-navbar>