.table-row {
  margin-top: 8px;
}

.cell {
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0000001f;
  min-width: 34px;
  height: 34px;
}

.checkbox-cell {
  min-width: 34px;
  height: 34px;
  vertical-align: middle;
  text-align: center;
}

.column-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-left: 1px solid #0000001f;
  border-right: 1px solid #0000001f;
}

.header-column {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.full-width {
  width: 100%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  padding: 0 15px;
  position: relative;
}

.cdk-drag-preview::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 5px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  color: transparent;
  position: relative;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 5px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  border: dashed 1px rgba(0, 0, 0, 0.4);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.grabbable {
  cursor: grab;
}
