.full-width {
  display: block;
  overflow: auto;
  max-height: 400px;
}

.full-width table {
  table-layout: fixed;
  min-width: 100%;
  display: table;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}
