.padding-top {
  padding-top: 16px;
}

.padding-top-sm {
  padding-top: 8px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colorbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-right: 8px;
  padding-top: 8px;
}

.colorbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.colorbox-text {
  padding-left: 4px;
}
