<div class="container col-md-12 padding-top">
    <b>Select row to highligt unique elements</b>
    <br />
    <div class="padding-top-sm">
        <div class="wrapper">
            <div class="colorbox-wrapper" *ngFor="let selectedValue of selectedValues; let i = index">
                <div class="colorbox"
                    [ngStyle]="{'background-color': (positionedColors[i].color && selectedValue) ? positionedColors[i].color : 'lightgrey'}"
                    (click)="onColorboxClickLocal(i)"></div>
                <div class="colorbox-text">Row {{ positionedColors[i].rowPosition }}</div>
            </div>
        </div>
    </div>
</div>