<app-side-navbar [sideMenu]="sideMenu" class="d-block real-cipher">
    <div class="container">
        <mat-card id="description" class="col-md-12 info-mat-card">
            <mat-card-header>
                <mat-card-title>Description of the cipher</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
                <div class="  ">
                    Batman has a lot of enemies and one of them is The Riddler who likes to give riddles. He left this riddle to Batman, inspired by the famous Zodiac Killer cipher. This cipher is composed of symbols, where each symbol represents one letter from the English alphabet.
                    <br>
                    <br>

                    <mat-card-header>
                        <mat-card-title>Picture of the cipher from the movie:</mat-card-title>
                    </mat-card-header>
                    <p>
                        <img [src]="the_batman1" alt="the_batman1" height="333" width="427" class="center">
                    </p>
                    <mat-card-content style="word-wrap: break-word;">
                        <div class="  ">
                            Source: "'The Batman' movie, directed by Matt Reeves, produced by Warner Bros., 2022."
                        </div>

                    </mat-card-content>
                    <mat-card-header>
                        <mat-card-title>Cipher key:</mat-card-title>
                    </mat-card-header>
                    <p>
                        <img [src]="the_batman2" alt="the_batman2" height="333" width="357" class="center">
                    </p>
                    <mat-card-content style="word-wrap: break-word;">
                        <div class="  ">
                            Source: Reddit (r/TheBatmanFilm)"
                        </div>

                    </mat-card-content>


                </div>
            </mat-card-content>
        </mat-card>

        <br />

        <div class="col-md-12">
            <div class="row">
                <mat-card id="inputs" class="col-md-12 action-mat-card">
                    <mat-card-header>
                        <mat-card-title>Input setup</mat-card-title>
                    </mat-card-header>

                    <mat-card-content style="word-wrap: break-word;">
                        <form [formGroup]="cipherInputsForm">

                            <mat-form-field style="width: 90%;">
                                <textarea id="source-textarea" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="2" cdkAutosizeMaxRows="9" placeholder="Plain text"
                                    name="messageInput" formControlName="message"></textarea>
                                <mat-hint>The text must be not empty and must contain only letters a-z or A-Z.
                                </mat-hint>
                                <mat-error *ngIf="cipherInputsForm.get('message').hasError('minlength')">
                                    Please, enter message longer than 1 letter.
                                </mat-error>
                                <mat-error *ngIf="cipherInputsForm.get('message').hasError('maxlength')">
                                    Please, enter message shorter than 2000 letters.
                                </mat-error>
                                <mat-error *ngIf="cipherInputsForm.get('message').hasError('pattern')">
                                    The text can contain only letters a-z or A-Z.
                                </mat-error>
                            </mat-form-field>

                        </form>
                    </mat-card-content>

                    <mat-card-actions>
                        <button class="btn btn-sm btn-action" (click)="enDeCryptMessage()">
                            Encrypt the text
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <br />

            <div class="row">
                <div class="">
                    <mat-card class="computed-mat-card">
                        <mat-card-header>
                            <mat-card-title>Encrypted text</mat-card-title>
                        </mat-card-header>
                        <mat-card-content style="word-wrap: break-word;">
                            <div id="target-div"></div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-6 remove-right-marigns">

                </div>
            </div>

            <br />
            <div class="row">
                <div class="">
                    <mat-card id="simulation" class="action-mat-card">
                        <mat-card-header>
                            <mat-card-title>Decryption</mat-card-title>
                        </mat-card-header>
                        You can select the symbols of your encrypted text by clicking on these symbols:
                        <br>
                        <mat-card-content style="word-wrap: break-word;">
                            <button class="decrypt-button" value="A" (click)="deCrypt('A')">
                                <img src="assets/symbols/batman_symbols/a.png" alt="Button1">
                            </button>
                            <button class="decrypt-button" value="B" (click)="deCrypt('B')">
                                <img src="assets/symbols/batman_symbols/b.png" alt="Button2">
                            </button>
                            <button class="decrypt-button" value="C" (click)="deCrypt('C')">
                                <img src="assets/symbols/batman_symbols/v.png" alt="Button3">
                            </button>
                            <button class="decrypt-button" value="D" (click)="deCrypt('D')">
                                <img src="assets/symbols/batman_symbols/d.png" alt="Button4">
                            </button>
                            <button class="decrypt-button" value="E" (click)="deCrypt('E')">
                                <img src="assets/symbols/batman_symbols/e.png" alt="Button5">
                            </button>
                            <button class="decrypt-button" value="F" (click)="deCrypt('F')">
                                <img src="assets/symbols/batman_symbols/f.png" alt="Button6">
                            </button>
                            <button class="decrypt-button" value="G" (click)="deCrypt('G')">
                                <img src="assets/symbols/batman_symbols/g.png" alt="Button7">
                            </button>
                            <button class="decrypt-button" value="H" (click)="deCrypt('H')">
                                <img src="assets/symbols/batman_symbols/h.png" alt="Button8">
                            </button>
                            <button class="decrypt-button" value="I" (click)="deCrypt('I')">
                                <img src="assets/symbols/batman_symbols/i.png" alt="Button9">
                            </button>
                            <button class="decrypt-button" value="J" (click)="deCrypt('J')">
                                <img src="assets/symbols/batman_symbols/j.png" alt="Button10">
                            </button>
                            <button class="decrypt-button" value="K" (click)="deCrypt('K')">
                                <img src="assets/symbols/batman_symbols/k.png" alt="Button11">
                            </button>
                            <button class="decrypt-button" value="L" (click)="deCrypt('L')">
                                <img src="assets/symbols/batman_symbols/l.png" alt="Button12">
                            </button>
                            <button class="decrypt-button" value="M" (click)="deCrypt('M')">
                                <img src="assets/symbols/batman_symbols/m.png" alt="Button13">
                            </button>
                            <button class="decrypt-button" value="N" (click)="deCrypt('N')">
                                <img src="assets/symbols/batman_symbols/n.png" alt="Button14">
                            </button>
                            <button class="decrypt-button" value="O" (click)="deCrypt('O')">
                                <img src="assets/symbols/batman_symbols/o.png" alt="Button15">
                            </button>
                            <button class="decrypt-button" value="P" (click)="deCrypt('P')">
                                <img src="assets/symbols/batman_symbols/p.png" alt="Button16">
                            </button>
                            <button class="decrypt-button" value="Q" (click)="deCrypt('Q')">
                                <img src="assets/symbols/batman_symbols/q.png" alt="Button17">
                            </button>
                            <button class="decrypt-button" value="R" (click)="deCrypt('R')">
                                <img src="assets/symbols/batman_symbols/r.png" alt="Button18">
                            </button>
                            <button class="decrypt-button" value="S" (click)="deCrypt('S')">
                                <img src="assets/symbols/batman_symbols/s.png" alt="Button19">
                            </button>
                            <button class="decrypt-button" value="T" (click)="deCrypt('T')">
                                <img src="assets/symbols/batman_symbols/t.png" alt="Button20">
                            </button>
                            <button class="decrypt-button" value="U" (click)="deCrypt('U')">
                                <img src="assets/symbols/batman_symbols/u.png" alt="Button21">
                            </button>
                            <button class="decrypt-button" value="V" (click)="deCrypt('V')">
                                <img src="assets/symbols/batman_symbols/v.png" alt="Button22">
                            </button>
                            <button class="decrypt-button" value="W" (click)="deCrypt('W')">
                                <img src="assets/symbols/batman_symbols/w.png" alt="Button23">
                            </button>
                            <button class="decrypt-button" value="X" (click)="deCrypt('X')">
                                <img src="assets/symbols/batman_symbols/x.png" alt="Button24">
                            </button>
                            <button class="decrypt-button" value="Y" (click)="deCrypt('Y')">
                                <img src="assets/symbols/batman_symbols/y.png" alt="Button25">
                            </button>
                            <button class="decrypt-button" value="Z" (click)="deCrypt('Z')">
                                <img src="assets/symbols/batman_symbols/z.png" alt="Button26">
                            </button>
                            <button class="btn btn-sm btn-action" (click)="erase()">
                                delete
                            </button>

                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="">
                    <mat-card class="computed-mat-card">
                        <mat-card-header>
                            <mat-card-title>Decrypted text</mat-card-title>
                        </mat-card-header>
                        <mat-card-content style="word-wrap: break-word;">
                            <div id="target-div-2"></div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>


            <br />

        </div>
    </div>
    <br />
    <br />
</app-side-navbar>
