<app-side-navbar [sideMenu]="sideMenu" class="d-block">
  <div class="container">
    <mat-card class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Description of the cipher</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div>
          The Caesar cipher replaces every plain text letter with a different
          one. Each letter is shifted by n letters in the used alphabet (26
          letters for English alphabet). The shift is defined by the key. For
          example: shift 2 will change “A” to “C”.
        </div>
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card id="inputs" class="col-md-12 action-mat-card">
      <mat-card-header>
        <mat-card-title>Input setup</mat-card-title>
      </mat-card-header>

      <mat-card-content style="word-wrap: break-word">
        <form [formGroup]="cipherInputsForm">
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="Shift (key)"
              name="keyInput"
              formControlName="key"
            />
            <mat-hint>Shift must be in the range 1 - 26. </mat-hint>
            <mat-error
              *ngIf="
                cipherInputsForm.get('key').hasError('max') ||
                cipherInputsForm.get('key').hasError('min')
              "
            >
              Shift must be in the range 1 - 26.
            </mat-error>
          </mat-form-field>
          <br />
          <br />

          <mat-form-field style="width: 90%">
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="9"
              placeholder="Plain text"
              name="messageInput"
              formControlName="message"
            ></textarea>
            <mat-hint
              >The text must be written in English language, in the range 20 -
              2000 letters and must contain only letters a-z or A-Z.
            </mat-hint>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('minlength')"
            >
              Please, enter message longer than 20 letters.
            </mat-error>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('maxlength')"
            >
              Please, enter message shorter than 2000 letters.
            </mat-error>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('pattern')"
            >
              The text can contain only letters a-z or A-Z.
            </mat-error>
          </mat-form-field>
          <p>
            <br />
            To remove accents and punctuation from the text, please use the
            <a
              href="https://manulab.hcportal.eu/example/index.html"
              target="_blank"
              >ManuLab online</a
            >
            tool.
          </p>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <button class="btn btn-sm btn-action" (click)="enDeCryptMessage()">
          Encrypt the text & run the attack
        </button>
      </mat-card-actions>
    </mat-card>

    <br>
          <mat-card class="col-md-12 computed-mat-card">
            <mat-card-header>
              <mat-card-title>Encrypted text</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word">
              <p>
                {{ encryptedText }}
              </p>
            </mat-card-content>
          </mat-card>
<!--        </div>-->

<!--        <div class="col-md-6">-->
<!--          <mat-card class="computed-mat-card">-->
<!--            <mat-card-header>-->
<!--              <mat-card-title>Decrypted text</mat-card-title>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content style="word-wrap: break-word">-->
<!--              <p>-->
<!--                {{ decryptedText }}-->
<!--              </p>-->
<!--            </mat-card-content>-->
<!--          </mat-card>-->
<!--        </div>-->
<!--      </div>-->

    <br>

    <mat-card class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Guessing the used language</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div>
          From the calculated frequencies we can also guess the used language.

          <p>
            <b>Index of coincidence (IC)</b> is based on the letter frequencies.
            It reflects the accuracy that two texts (chosen randomly) will be
            the same.
          </p>
          We compute IC with the equation:
          <h5><ng-katex [equation]="equation"></ng-katex>,</h5>
          <p>
            where N is the length of the text, n<sub>i</sub> is the occurrence
            (absolute frequency) of the letter i.
          </p>
          If the text is long, it can be approximated as:
          <h5><ng-katex [equation]="equation2"></ng-katex>,</h5>
          <p>where n<sub>i</sub> is the relative frequency of letter i.</p>

          <p>
            Because each language has different letter frequency characteristics
            the resulting IC will differ. Comparing the resulting IC with
            reference values (calculated from a large English corpus) we can
            identify (guess) the used language.
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card id="ic_res" class="col-md-12 computed-mat-card">
      <mat-card-header>
        <mat-card-title>Index of coincidence result</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <p></p>

        <b> IC for most common languages:</b>
        <app-table
          class="col-md-4"
          [columnNames]="columnsRefFreqLanguage"
          [dataSource]="dataSourceRefFreqLang"
          [defaultSort]="sortRefFreqLang"
          [ready]="dataSourceRefFreqLangReady"
          [fullWidth]="false"
        >
        </app-table>

        <div
          *ngIf="passedMinIc; else notPassed"
          class="alert alert-danger"
          role="alert"
        >
          <strong>Input text is not from language</strong>
          <br />
          <span
            >Index of coincidence of the encrypted text is:
            {{ ic | number : "1.0-3" }}</span
          >

          <br />
        </div>
        <ng-template #notPassed>
          <div class="alert computed-box" role="alert">
            <span
              >Index of coincidence of the encrypted text is:
              {{ ic | number : "1.0-3" }}</span
            >
            <br />
            <span> {{ nearestLanguage }} is the most probable language. </span>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card id="attack" class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Description of the attack</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div>
          <p>
            Because the key-space of this cipher is small (26 combinations in
            the case of English alphabet), we can try all possible keys
            (shifts). This technique is called brute-force.
          </p>

          <p>
            We assume that the correct key will produce a text with frequencies
            closest to the reference values (calculated from a large English
            corpus).
          </p>

          <p>
            We calculate the <b>frequency</b> of letters by counting the
            occurrence of every letter in the text. Converting the absolute
            frequencies into relative ones helps to compare the letter
            frequencies independently of the text length.
          </p>
          <!--                We calculate the <b>frequency</b> of letters by counting the-->
          <!--                occurrence of every letter in the text. If we divide it with-->
          <!--                the length of text - convert to percentage.-->
          <!--                This conversion helps to compare the letter frequencies independently from the text length.-->

          <p>
            For each shift, the computer will calculate the
            <b>statistical distance</b> of letter frequencies of the decrypted
            text from reference values.
          </p>
          <h5><ng-katex [equation]="equation3"></ng-katex>,</h5>
          <p>
            where m<sub>i</sub> is the measured frequency of letter i and r<sub
              >i</sub
            >
            is the reference one.
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card id="frequency" class="col-md-12 computed-mat-card">
      <mat-card-header>
        <mat-card-title
          >Relative frequencies in the encrypted message</mat-card-title
        >
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <p></p>

        <div class="container">
          <app-graph
            #freqGraph
            [chartOptionsFreqGraph]="chartOptionsFreqGraph"
            [data]="dataSourceFreqGraph"
          ></app-graph>
        </div>
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card id="differences" class="col-md-12 computed-mat-card">
      <mat-card-header>
        <mat-card-title>Differences between frequencies</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div class="col-md-12">
          <div class="row">
            <br />
            <!-- <button mat-stroked-button color="primary" (click)="getIC()">Calculate Index if
                                      coincidence</button> -->
          </div>
        </div>

        <h6>
          The following table contains the distances of measured frequencies
          from the reference values for each letter. The statistical distance
          (summed for every letter) is presented in the column named <b>sum</b>.
          Lower number means smaller difference/distance.
        </h6>
        <span
          >The most probable shift is in the row with the lowest values.</span
        >
        <br />
        <app-table
          [columnNames]="columnsCalcFreqLanguage"
          [stickyColumns]="stickyColumnsCalcFreqLanguage"
          [dataSource]="dataSourceCalcFreqLang"
          [defaultSort]="sortCalcFreqLang"
          [ready]="dataSourceCalcFreqLangReady"
        >
        </app-table>
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card id="compare" class="col-md-12 computed-mat-card">
      <mat-card-header>
        <mat-card-title>Checking the result </mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <p>
          Based on the obtained results the most probable shift (key) is
          <b>{{ minDisctanceLength }}</b
          >.
        </p>
        <p>
          Using the following table you can compare the letter frequencies with
          the reference values for every possible shift.
        </p>

        <app-graph
          class="col-md-12"
          #comparefreqGraph
          [chartOptionsFreqGraph]="chartOptionsCompareFreq"
          [data]="dataSourceCompareFreqGraph"
        ></app-graph>
        <br />
        <mat-button-toggle-group
          class="btn-group responsive-toogle-btn-group center-toogle-group"
          [(ngModel)]="selectedValue"
          #group="matButtonToggleGroup"
        >
          <mat-button-toggle
            class="toogle-btn"
            *ngFor="let item of toggleOptions"
            (change)="selectionOfGraphChanged($event)"
            [value]="item"
          >
            {{ item }}</mat-button-toggle
          >
        </mat-button-toggle-group>
      </mat-card-content>
    </mat-card>
  </div>
</app-side-navbar>
