.scrollTable{
  height: 400px;
  overflow: auto;
}
.responsive-toogle-btn-group > * {
  flex-grow: 0;
}

.responsive-toogle-btn-group {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .container {
      padding: 0 !important;
      margin: 0 !important;
  }
}

.mat-card {
  margin: 0;
}

.mat-card-content {
  font-size: 15px !important;
}

