<app-side-navbar [sideMenu]="sideMenu" class="d-block">
  <div class="container">
    <mat-card class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Description of the cipher</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <p>
          The attack on the transposition cipher without knowledge of the length
          of the permutation key is performed by splitting the text into a
          probable number of columns, which are written on strips of paper and
          decipherer could swap positions until the plaintext is visible. Attack
          is performed by permutating all vertical and horizontal positions of
          strips. Each permutation is evaluated by specific scoring function
          based on english dictionary.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card id="inputs" class="col-md-12 action-mat-card">
      <mat-card-header>
        <mat-card-title>Input setup</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <form [formGroup]="cipherInputsForm">
          <mat-form-field>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="9"
              placeholder="Permutation"
              name="permutationInput"
              formControlName="permutation"
            ></textarea>
            <mat-hint>(2, 1, 3, 4) or 2, 1, 3, 4</mat-hint>
            <mat-error
              *ngIf="
                cipherInputsForm.get('permutation').hasError('permutationValid')
              "
            >
              Please enter permutation in right format
            </mat-error>
            <mat-error
              *ngIf="
                cipherInputsForm
                  .get('permutation')
                  .hasError('permutationSequence')
              "
            >
              Please enter permutation that is sequential (contains 1, 2, ...)
            </mat-error>
          </mat-form-field>
          <br />
          <br />

          <mat-form-field style="width: 90%">
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="9"
              placeholder="Plain text"
              name="messageInput"
              formControlName="message"
            ></textarea>
            <mat-hint
              >The text must be written in the range {{ minMessageLength }} -
              {{ maxMessageLength }} letters and must contain only letters a-z
              or A-Z.
            </mat-hint>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('minlength')"
            >
              Please, enter message longer than {{ minMessageLength }} letters.
            </mat-error>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('maxlength')"
            >
              Please, enter message shorter than {{ maxMessageLength }} letters.
            </mat-error>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('pattern')"
            >
              The text can contain only letters a-z or A-Z.
            </mat-error>
          </mat-form-field>
          <p>
            <br />
            To remove accents and punctuation from the text, please use the
            <a
              href="https://manulab.hcportal.eu/example/index.html"
              target="_blank"
              >ManuLab online</a
            >
            tool.
          </p>
          <mat-checkbox color="primary" formControlName="shouldAddX"
            >Fill missing cells with X</mat-checkbox
          >
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-sm btn-action" (click)="createTableAndEncrypt()">
          Create table
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card
      class="col-md-12 computed-mat-card"
      [ngClass]="{ hide: !tableReady, show: tableReady }"
    >
      <mat-card-header>
        <mat-card-title>Created table</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-table
          class="col-md-4"
          [columnNames]="blockSizeToDisplay"
          [dataSource]="tableData"
          [ready]="tableReadySubject"
          [stickyColumns]="stickyColumns"
          [defaultSort]="'0'"
          [fullWidth]="true"
        ></app-table>
      </mat-card-content>
    </mat-card>

    <mat-card
      id="encryptedMessage"
      class="col-md-12 computed-mat-card"
      [ngClass]="{ hide: !tableReady, show: tableReady }"
    >
      <mat-card-header>
        <mat-card-title>Encrypted message</mat-card-title>
      </mat-card-header>
      <mat-card-content class="break-text">
        {{ encryptedMessage }}
      </mat-card-content>
    </mat-card>

    <mat-card class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Description of the movable columns</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <p>
          By analyzing the ciphertext, the probable number of columns (blocks)
          can be determined based on the divisibility of the length of the open
          text.
        </p>
        <p>
          Movable strips are created by firstly filling in ciphertext by
          <b>UPPERCASE</b> letters and later by filling the top of the table
          with <b>lowercase</b> letters from previous columns.
        </p>
        <p>
          The blank cells of the table are marked with striped color, marking
          spaces where movable columns can be moved to.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="col-md-12 action-mat-card">
      <mat-card-header>
        <mat-card-title>Input setup for decryptable table</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <form [formGroup]="cipherInputsForm">
          <mat-form-field>
            <input
              matInput
              type="number"
              placeholder="Block Size (blockSize)"
              name="columnsInput"
              formControlName="blockSize"
            />
            <mat-hint
              >Block length must be in the range {{ minBlockSize }} -
              {{ maxBlockSize }}.
            </mat-hint>
            <mat-error
              *ngIf="
                cipherInputsForm.get('blockSize').hasError('max') ||
                cipherInputsForm.get('blockSize').hasError('min')
              "
            >
              Block length must be in the range {{ minBlockSize }} -
              {{ minBlockSize }}.
            </mat-error>
            <mat-error
              *ngIf="
                cipherInputsForm
                  .get('blockSize')
                  .hasError('permutationAttackMaxBlockSize')
              "
            >
              Caution the maximum columns (block size) that can run the
              automatic attack is {{ maxAttackBlockSize }}.
            </mat-error>
          </mat-form-field>
          <br />
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="btn btn-sm btn-action"
          (click)="createMovableTableAndFillers()"
        >
          Create decryptable transposition table
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card id="example" class="col-md-12 action-mat-card">
      <mat-card-header>
        <mat-card-title>Movable table strips</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-permutation-movable-table
          [movableColumns]="movableColumns"
        ></app-permutation-movable-table>
      </mat-card-content>
    </mat-card>

    <mat-card id="attack" class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Description of the attack</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <p>
          All possible permutations of strips positions are determined by two
          "permutate" (brute-force) recursions that assemble all possible
          positions in which columns and rows of the movable table can occur.
        </p>
        <p>
          The recursion first permutates through all columns and assigns all
          possibilities of row permutations through second recursion of rows to
          all columns to create fully assambled table.
        </p>
        <p>
          The <b>maximum</b> columns that the attack can by run in reasonable
          time is <b>6 columns</b>!
        </p>
        <p>
          We calculate <b>score</b> of fully assambled table by creating
          plaintext candidate of its columns and calculating:
        </p>
        <h5><ng-katex [equation]="equationScore"></ng-katex></h5>
        <p>
          Where limits of the summation are the beginning and the end of
          dictionary, w<sub>i</sub> is word from dictionary.
        </p>
        <p>
          If <b>Minimum dictionary word length</b> is set we filter dictionary
          words that don't meet the minimum length requirement.
        </p>
        <p>
          If the plaintext contains unusual or unidiomatic words score may be
          evaluated incorrectly, but usually plaintext is contained in top 10
          most probable results.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card id="autoAttack" class="col-md-12 action-mat-card">
      <mat-card-header>
        <mat-card-title>Run the attack</mat-card-title>
      </mat-card-header>

      <ng-container *ngIf="decryptedTableReady && !maxBlockSizeError">
        <mat-card-content style="word-wrap: break-word">
          <form [formGroup]="cipherInputsForm">
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Minimum dictionary word length"
                name="minDictWordLengthInput"
                formControlName="minDictWordLength"
              />
              <mat-error
                *ngIf="
                  cipherInputsForm.get('minDictWordLength').hasError('min')
                "
              >
                Minimum dictionary word length must be at least 0.
              </mat-error>
            </mat-form-field>
            <br />
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn btn-sm btn-action" (click)="runAttack()">
            Run the attack
          </button>
        </mat-card-actions>
      </ng-container>

      <ng-container *ngIf="!decryptedTableReady || !!maxBlockSizeError">
        <mat-card-content style="word-wrap: break-word">
          <p>Sorry, you cannot run the attack at this moment.</p>
          <br />
        </mat-card-content>
      </ng-container>
    </mat-card>

    <ng-container *ngIf="!maxBlockSizeError">
      <mat-card
        class="col-md-12 computed-mat-card"
        [ngClass]="{
          hide: !dataSourceBestResultsReady,
          show: dataSourceBestResultsReady
        }"
      >
        <mat-card-header>
          <mat-card-title> Checking the results </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            At least top 10 results based on the score. The best candidate for
            plaintext is the row with the highest score, that means plaintext
            contains the longest texts form the dictionary which are its
            substrings.
          </p>

          <br />

          <p>
            By clicking on a row one can create a new instance of movable
            columns available to further work with bellow.
          </p>

          <br /><br />

          <app-table
            [columnNames]="columnsBestResults"
            [stickyColumns]="stickyColumns"
            [dataSource]="dataSourceBestResults"
            [defaultSort]="sortBestResults"
            [ready]="dataSourceBestResultsReadySubject"
            (onRowClick)="onRowClick($event)"
          >
          </app-table>
        </mat-card-content>
      </mat-card>

      <mat-card
        class="col-md-12 computed-mat-card"
        [ngClass]="{
          hide: !dataSourceBestResultsReady,
          show: dataSourceBestResultsReady
        }"
      >
        <mat-card-header>
          <mat-card-title> The best movable table strips </mat-card-title>
        </mat-card-header>
        <mat-card-content style="word-wrap: break-word">
          <app-permutation-movable-table
            [movableColumns]="bestMovableColumns?.columns ?? []"
          ></app-permutation-movable-table>
          <br />
          <b>
            <h5>Plaintext:</h5>
          </b>
          <p>{{ bestDecText }}</p>
          <b>
            <h5>Permutation key:</h5>
          </b>
          <div class="permutation-result">
            <p>{{ bestMovableColumns?.permutation }}</p>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card
        class="text-center col-md-12"
        [ngClass]="{
          hide: dataSourceBestResultsReady,
          show: !dataSourceBestResultsReady
        }"
      >
        <mat-card-content>
          <h5>Please wait ... calculating ...</h5>
          <br />
          <mat-progress-spinner class="spinner" [mode]="'indeterminate'">
          </mat-progress-spinner>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn btn-sm btn-action" (click)="terminateAttack()">
            Terminate the attack
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</app-side-navbar>
