.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
   * This padding sets alignment of the nested nodes.
   */
.example-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 40px;
}

/*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
.example-tree div[role="group"] > .mat-tree-node {
  padding-left: 40px;
}

.description {

  @media (min-width: 500px) {
    margin: 0 40px;
  }
}

#cipher-classification {
  margin-bottom: 4rem;

  font-size: 1rem;

  @media (min-width: 500px) {
    font-size: 1.25rem;
  }

  ul {
    padding-left: 0 !important;

    @media (min-width: 500px) {
      padding-left: 40px;
    }
  }
}

#real-ciphers {
  text-align: justify;
  
  a {
    display: inline-block;
    font-size: 18px;
    color: inherit;
    text-decoration: none;
    padding: 4px 6px;
    
    &:hover {
      background-color: #0454a518;
    }

    span {
      font-size: .75em;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  li {
    list-style: none;
    width: fit-content;
    margin: 4px 0;
    vertical-align:middle;

    &:before {
      content: "•";
      font-size: 1.2em;
   }
  }
}

#helpers {
  margin-bottom: 15rem;

}