<app-side-navbar [sideMenu]="sideMenu" class="d-block">
  <div class="container">
    <mat-card class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Description of the cipher</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div>
          The Vigenere cipher is a polyalphabetic substitution. The encryption
          consists of series of Caesar ciphers, depending on the letters of a
          keyword. The keyword is repeated periodically. We will represent
          letters of English alphabet by elements of Z26, 0 representing the
          letter A, 1 representing the letter B, and so on. The encryption (with
          a key consisting of r letters) is governed by the following equation:
          <h5><ng-katex [equation]="equation"></ng-katex>,</h5>
          <p>
            The plain text letter x<sub>i</sub> is shifted by k<sub
              >i mod r</sub
            >
            letters in the used alphabet (26 letters for English alphabet).
          </p>

          <p>
            Plain text <i>example</i> with key <i>abc</i> will be encrypted as
            <i>eycmqne</i>. Letter <i>e</i> is shifted by 0, <i>x</i> by 1,
            <i>a</i> by 2, <i>m</i> by 0, and so on.
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card id="inputs" class="col-md-12 action-mat-card">
      <mat-card-header>
        <mat-card-title>Input setup</mat-card-title>
      </mat-card-header>

      <mat-card-content style="word-wrap: break-word">
        <form [formGroup]="cipherInputsForm" (ngSubmit)="calcDataForPage()">
          <mat-form-field class="col-md-4">
            <input
              matInput
              type="text"
              placeholder="Keyword"
              name="keyInput"
              formControlName="key"
              maxlength="15"
            />
            <mat-hint
              >Must be in the range 2 to 15 letters and must contain only
              letters a-z or A-Z.
            </mat-hint>
            <br />
            <mat-hint *ngIf="cipherInputsForm.get('key').value.length > 3">
              <span class="mat-error"
                >You entered a keyword longer than 3 letters, only the Friedman
                test will be calculated.</span
              >
            </mat-hint>

            <mat-error
              *ngIf="
                cipherInputsForm.get('key').hasError('maxlength') ||
                cipherInputsForm.get('key').hasError('minlength')
              "
            >
              Must be in the range 2 - 15 letters.
            </mat-error>
            <mat-error *ngIf="cipherInputsForm.get('key').hasError('pattern')">
              Must contains only letters a-z or A-Z.
            </mat-error>
          </mat-form-field>

          <br />
          <br />
          <br />
          <br />

          <mat-form-field style="width: 90%">
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="9"
              placeholder="Plain text"
              name="messageInput"
              formControlName="message"
              maxlength="2000"
            ></textarea>
            <mat-hint
              >The text must be written in English language, in the range 20 -
              2000 letters and must contain only letters a-z or A-Z.
            </mat-hint>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('minlength')"
            >
              Please, enter message longer than 20 letters.
            </mat-error>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('maxlength')"
            >
              Please, enter message shorter than 2000 letters.
            </mat-error>
            <mat-error
              *ngIf="cipherInputsForm.get('message').hasError('pattern')"
            >
              The text can contains only letters a-z or A-Z.
            </mat-error>
          </mat-form-field>
          <p>
            <br />
            To remove accents and punctuation from the text, please use the
            <a
              href="https://manulab.hcportal.eu/example/index.html"
              target="_blank"
              >ManuLab online</a
            >
            tool.
          </p>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <button
          (click)="calcDataForPage()"
          [disabled]="!cipherInputsForm.valid"
          class="btn btn-sm btn-action"
          color="primary"
          type="submit"
        >
          Encrypt the text & run the attack
        </button></mat-card-actions
      >
    </mat-card>

    <br>

    <mat-card class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Repeated Caesar shifts</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div>
          In the "Encrypted text" tab below, the letters shifted by the same
          Caesar shift are highlighted with the same color.
        </div>
      </mat-card-content>
    </mat-card>

    <br>

        <mat-card  class="col-md-12 computed-mat-card">
          <mat-card-header>
            <mat-card-title>Encrypted text</mat-card-title>
          </mat-card-header>
          <mat-card-content style="word-wrap: break-word">
            <span
              *ngFor="let letter of encMessageSplitted; let i = index"
              [style.color]="colors[i % keyLength]"
            >
              {{ letter }}
            </span>
          </mat-card-content>
        </mat-card>
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <mat-card class="computed-mat-card">-->
<!--          <mat-card-header>-->
<!--            <mat-card-title>Decrypted text</mat-card-title>-->
<!--          </mat-card-header>-->
<!--          <mat-card-content style="word-wrap: break-word">-->
<!--            <p>-->
<!--              {{ decryptedText }}-->
<!--            </p>-->
<!--          </mat-card-content>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--    </div>-->

    <br>

    <mat-card id="alghorithm" class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Friedman test</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <!--            <div class="col-md-8 col-md-offset-2">-->
        The Friedman test is a well-known method for determining the length of
        the key in the Vigenere cipher, and is based on the notion of the index
        of coincidence.
        <p>
          <b>Index of coincidence (IC)</b> is based on the letter frequencies.
          It reflects the accuracy that two texts (chosen randomly) will be the
          same.
        </p>
        We compute IC with the equation:
        <h5><ng-katex [equation]="equation_ic1"></ng-katex>,</h5>
        <p>
          where N is the length of text, n<sub>i</sub> is the occurrence
          (absolute frequency) of the letter i.
        </p>
        If the text is long, it can be approximated as:
        <h5><ng-katex [equation]="equation_ic2"></ng-katex>,</h5>
        <p>where n<sub>i</sub> is the relative frequency of letter i.</p>

        <p>
          If the text is written in English, then we expect the value of IC to
          be close to 0.065. If the text was generated randomly, then the
          expected value of IC would be 0.038.
        </p>

        <p>
          An English text encrypted by the Vigenere cipher with the key of
          length r, can be divided into r cosets where each coset contains
          letters shifted by the same Caesar shift. Therefore, the value of IC
          of each coset is expected to be close to 0.065.
        </p>
        <!--              <p>Basically, in Friedman test we separate text into boxes, the number of boxes is equal to the length of key.-->
        <!--                Basically, in Friedman test we separate text into boxes, the number of boxes is equal to the length of key.-->
        <!--                For example when we have the key of length equal 3 boxes,-->
        <!--                in the first box will be the first letter,-->
        <!--                in the second box will be the second and in the third one will be the third letter of encrypted text (CT).-->
        <!--                Then we repeat it and in the first box will be the fourth letter of CT, in the second box will be the fifth letter and so on.-->
        <!--              </p>-->
        <!--              Then we compute the frequency of every box and index coincidence(IC).-->
        <!--              For boxes we compute the average of ICs. Than we repeat these steps and   compute average-->
        <!--              ICs for the key of length <2,16> In this example we expect that the text is in English.-->
        <!--            </div>-->
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card id="findkey" class="col-md-12 computed-mat-card">
      <mat-card-header>
        <mat-card-title>Dividing the cipher text into cosets</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div class="col-md-12">
          <div class="alert computed-box" role="alert">
            <span>The most probable key lengths: </span>
            <ol>
              <li *ngFor="let index of highestIC">
                <span>Length of {{ index.box }} </span>
                <span>with IC {{ index.value | number : "1.0-4" }}</span>
              </li>
            </ol>
          </div>
        </div>
        <br />

        <app-polyalph-boxes-component
          [allBoxesAvgIc]="allBoxesAvgIc"
          [ic]="ic"
          [allBoxes]="allBoxes"
          [allBoxesIc]="allBoxesIc"
          [toggleOptions]="toggleOptions"
        ></app-polyalph-boxes-component>
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card id="attack" class="col-md-12 info-mat-card">
      <mat-card-header>
        <mat-card-title>Description of the attack</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div>
          <p>
            All possible keys of a length determined by the Friedman test are
            generated (brute-force). The cipher text is decrypted with each key
            and its score is evaluated. The correct key should produce a text
            with the closest frequencies to the reference values (calculated
            from a large English corpus).
          </p>

          <p>
            We calculate the <b>frequency</b> of letters by counting the
            occurrence of every letter in the text. Converting the absolute
            frequencies into relative ones helps to compare the letter
            frequencies independently of the text length.
          </p>

          <p>
            For each key the computer will calculate the
            <b>statistical distance</b> of letter frequencies of the decrypted
            text from reference values.
          </p>
          <h5><ng-katex [equation]="equation_score"></ng-katex>,</h5>
          <p>
            where m<sub>i</sub> is the measured frequency of letter i and r<sub
              >i</sub
            >
            is the reference one.
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <br>

    <mat-card id="allcombinations" class="col-md-12 computed-mat-card">
      <mat-card-header>
        <mat-card-title>Checking the result</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word">
        <div class="col-md-12">
          <!--              We do it only for the key of length <2,3>, because we compute allpossibilities on the client computer.-->
          <!--              Key of length has 26<sup>3</sup> = 17,576‬ possible keys, but key-->
          <!--              of length 4 has 26^4 has 456 976 keys.-->
          Top 10 results based on the score.
          <span
            >The most probable key is the row with the lowest score value
            (column named sum).</span
          >

          <br />
          <br />
          <div *ngIf="calcDonee !== 3; else elseBlock">
            <app-table
              [ngClass]="{ hide: !calcDonee, show: calcDonee }"
              [columnNames]="columnsBestResults"
              [stickyColumns]="stickyColumns"
              [dataSource]="dataSourceBestResults"
              [defaultSort]="sortBestResults"
              [ready]="dataSourceBestResultsReady"
            >
            </app-table>

            <div
              [ngClass]="{ hide: calcDonee, show: !calcDonee }"
              class="text-center"
            >
              <h5>Please wait ... calculating ...</h5>
              <br />
              <mat-progress-spinner class="spinner" [mode]="'indeterminate'">
              </mat-progress-spinner>
            </div>
          </div>
          <ng-template #elseBlock>
            <h5 class="btn-action">
              Data will be computed only for keys of length shorter than 4.
            </h5></ng-template
          >
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</app-side-navbar>
