.text-center {
  text-align: center;
}

.spinner {
  display: inline-block;
}

@media screen and (max-width: 992px) {
  .container {
      padding: 0 !important;
      margin: 0 !important;
  }
}

.mat-card {
  margin: 0;
}

.mat-card-content {
  font-size: 15px !important;
}
