<app-side-navbar [sideMenu]="sideMenu" class="d-block real-cipher">
    <div class="container">
        <mat-card id="description" class="col-md-12 info-mat-card">
            <mat-card-header>
                <mat-card-title>Description of the cipher</mat-card-title>
            </mat-card-header>
            <mat-card-content style="word-wrap: break-word;">
                <div class="  ">
                    In the <b>Mr. Robot</b> movie we came across a Caesar cipher with the shift of 13 (ROT-13). The resulting cipher text is represented with two digit numbers.
                    <br>
                
                

                    <mat-card-header>
                        <mat-card-title>Picture of the cipher from the movie:</mat-card-title>
                    </mat-card-header>
                    <p>
                        <img [src]="mr_robot" alt="mr_robot1" height="433" width="427" class="center">
                    </p>
                    <mat-card-content style="word-wrap: break-word;">
                        <div class="  ">
                            Source: "Image of cipher, from 'Mr. Robot,' created by Sam Esmail, aired on USA Network, 2015."
                        </div>
                    
                    </mat-card-content>

                    <mat-card-content style="word-wrap: break-word;">
                        <div class="  ">
                    
                            <p>
                                <br>
                                Description and cryptanalysis of a Caesar Cipher we can find <a href="cryptanalysis/caesar-cipher" target="_blank">here</a>.    
                            </p>

                        </div>
                    
                    </mat-card-content>
                </div>
            </mat-card-content>
        </mat-card>

        <br />

        <div class="col-md-12">
            <div class="row">
                <mat-card id="inputs" class="col-md-12 action-mat-card">
                    <mat-card-header>
                        <mat-card-title>Input setup</mat-card-title>
                    </mat-card-header>

                    <mat-card-content style="word-wrap: break-word;">
                        <form [formGroup]="cipherInputsForm">
                            <mat-form-field>
                                <input matInput type="number" placeholder="Shift (key)" name="keyInput"
                                    formControlName="key" />
                                <mat-hint>Shift must be in the range 1 - 26. </mat-hint>
                                <mat-error *ngIf="
                    cipherInputsForm.get('key').hasError('max') ||
                    cipherInputsForm.get('key').hasError('min')
                  ">
                                    Shift must be in the range 1 - 26.
                                </mat-error>
                            </mat-form-field>
                            <br />
                            <br />

                            <mat-form-field style="width: 90%;">
                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="2" cdkAutosizeMaxRows="9" placeholder="Plain text"
                                    name="messageInput" formControlName="message"></textarea>
                                    <mat-hint>The text must be not empty and must contain only letters a-z or A-Z.
                                    </mat-hint>
                                <mat-error *ngIf="cipherInputsForm.get('message').hasError('minlength')">
                                    Please, enter message longer than 1 letter.
                                </mat-error>
                                <mat-error *ngIf="cipherInputsForm.get('message').hasError('maxlength')">
                                    Please, enter message shorter than 2000 letters.
                                </mat-error>
                                <mat-error *ngIf="cipherInputsForm.get('message').hasError('pattern')">
                                    The text can contain only letters a-z or A-Z.
                                </mat-error>
                            </mat-form-field>
                            
                        </form>
                    </mat-card-content>

                    <mat-card-actions>
                        <button class="btn btn-sm btn-action" (click)="enDeCryptMessage()">
                            Encrypt the text
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <br />

            <div class="row">
                <div class="col-md-6 remove-left-marigns">
                    <mat-card class="computed-mat-card">
                        <mat-card-header>
                            <mat-card-title>Encrypted text</mat-card-title>
                        </mat-card-header>
                        <mat-card-content style="word-wrap: break-word;">
                            <p>
                                {{ encryptedText }}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                
            </div>

            <br />

        </div>
    </div>
    <br />
    <br />
</app-side-navbar>